#scannerInput {
    opacity: 0;
    cursor: default;
    pointer-events: none;
    position: absolute;
    top: -1000px;
    left: 0;
}

@mixin themeButton($back: #BFE4FF, $color: #256CF0) {
    background: $back;
    color: $color;
    border: none;
    box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.26);
}

.card{
    .p-scan{
        margin: 1rem 0 2rem;
        text-align: center;
        font-size: 1.1rem;
    }

    .rdButtonScan{
        display: flex;
        margin: 1rem 3rem 0;
        font-size: 1rem;
        justify-content: center;
    }

    .eqTableScan{
        width: 35rem;
        margin: 1rem auto;
        border: .1rem solid #B1CAFA;
        
        .tbHeaderScan{
            border-radius: .5rem 0;
            
            th{
                background-color: #256CF0 !important;
                color: white;
                font-weight: 600;
                letter-spacing: .1rem;
                text-align: center;
                text-transform: uppercase;
                font-size: .7rem;
            }
        }
        
        .tbBodyScan{
            td:first-child {
                background-color: #256CF0 !important;
                color: white;
                font-weight: 600;
                letter-spacing: .1rem;
                text-align: center;
                text-transform: uppercase;
                width: .05%;
            }
            td{
                text-align: center;
                border-bottom: .1rem solid #B1CAFA;
                border-left: .1rem solid #B1CAFA;
                height: 5rem;
                font-size: .7rem;
                box-sizing: border-box;
                width: 1%;
            }
        }
        .discSiglaScan{
            li{
                list-style: none;
                font-size: .7rem;
            }
        }
    }

    .tab3-btn-scan{
        margin-top: 1rem;
        button:active{
            box-shadow: none;
        }
    }
}

:host ::ng-deep {
    .p-messages {
        width: fit-content;
        position: fixed;
        top: 1.25rem;
        right: 1.25rem;
        z-index: 11000;
    }
    p-radiobutton.p-element{
        margin: 0 .5rem;
    }
    .p-datatable>.p-datatable-wrapper {
        overflow: hidden;
    }
    .p-datatable-table {
        border-spacing: 0px;
    }
    .p-radiobutton .p-radiobutton-box {
        width: 1rem;
        height: 1rem;
    }
    .field-checkbox.ng-star-inserted {
        display: flex;
        align-items: center;
    }
    .p-datatable .p-datatable-tbody > tr > td {
        font-size: .7rem;
    }
    .p-dialog-content .tab3-btn-scan {
        display: flex;
        justify-content: center;
    }
    .p-dialog-content .botaoCscan .p-ripple{
        @include themeButton(#00208F, white);
        text-decoration: none;
        letter-spacing: .1rem;
        // font-weight: 600;
        text-transform: uppercase;
        font-size: .7rem;
    }
}