#scannerInput {
    opacity: 0;
    cursor: default;
    pointer-events: none;
    position: absolute;
    top: -1000px; /* Mova para cima da tela */
    left: 0;
}

:host ::ng-deep {
    .p-messages {
        width: fit-content;
        position: fixed;
        top: 1.25rem;
        right: 1.25rem;
        z-index: 11000;
    }
}