/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
// @import 'bootstrap/scss/bootstrap';
// @import 'bootstrap/scss/mixins';
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@font-face {
    font-family: Grandstander Semi;
    src: url(assets/grandstander/Grandstander-SemiBold.ttf);
}
@font-face {
    font-family: Grandstander;
    src: url(assets/grandstander/Grandstander-Regular.ttf);
}

// html, body { height: 100%; }
body {
    margin: 0;
    padding: 0;
    // font-size: 1.2rem;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

body::-webkit-scrollbar,
body::-moz-scrollbar,
body::-o-scrollbar,
body::-ms-scrollbar {
  width: 0.8rem;
  height: .8rem;
}

body::-webkit-scrollbar-track,
body::-moz-scrollbar-track,
body::-o-scrollbar-track,
body::-ms-scrollbar-track {
  background-color: #B1CAFA;
  opacity: 0.7;
  // border-radius: 10px;
}

body::-webkit-scrollbar-thumb,
body::-moz-scrollbar-thumb,
body::-o-scrollbar-thumb,
body::-ms-scrollbar-thumb {
  background: #3B82F6;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:active,
body::-moz-scrollbar-thumb:active,
body::-o-scrollbar-thumb:active,
body::-ms-scrollbar-thumb:active {
  background: #256CF0;
}