.footer{
    text-align: center;
    background-color: #0E0E0E;
    // font-size: 1.1rem;
    font-size: 1rem;
    h2{
        color: #8cb1ff;
    }
    .footer-content{
        .footer-left{
            p{
                // font-size: .9rem;
            }
            .social-icons{
                display: flex;
                justify-content: space-evenly;
            }
        }

        .footer-right{
            .list-group{
                list-style: none;

                .list-group-item{
                    border: 0;
                }
                li{
                    color: white;
                    // font-size: .738rem;
                    i.pi {
                        margin-right: 1rem;
                    }
                }
                li:not(:last-child){
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .pi{
        font-size: 1.1rem;
        color: #256CF0;
    }
    
    .footer-bottom{
        font-size: 1rem;
        padding: 1rem 0;
        background-color: #1a1a1a;
        a{
            color: #8cb1ff;
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
        // a{color: #256CF0;}
    }
}

@media screen and (min-width: 686px) {
    .footer-content{
        display: flex;
        justify-content: space-around;
        gap: 3rem;
        .footer-left{
            width: 50%;
            align-self: baseline;
            margin-top: .5rem;
        }
        .footer-right{
            width: 40%;
            .list-group{
                text-align: start;
            }
        }
    }
}

@media screen and (max-width: 685px) {
    .footer-content{
        display: flex;
        flex-flow: column;
        gap: 3rem;
        .footer-right{
            // width: 100%;
            .list-group{
                text-align: center;
            }
        }
    }
}