.footer{
    text-align: center;
    .footer-content{
        .footer-left{
            p{
                font-size: .8rem;
            }
            .social-icons{
                display: flex;
                justify-content: space-evenly;
            }
        }

        .footer-right{
            .list-group{
                list-style: none;

                .list-group-item{
                    border: 0;
                }
                li{
                    color: white;
                    font-size: .738rem;
                }
                li:not(:last-child){
                    margin-bottom: .5rem;
                }
            }
        }
    }

    .pi{
        font-size: 1rem;
        color: #256CF0;
    }
    
    .footer-bottom{
        padding: 1rem 0;
        a{color: #256CF0;}
    }
}

@media screen and (min-width: 686px) {
    .footer-content{
        display: flex;
        justify-content: space-around;
        row-gap: 3;
        .footer-left{
            align-self: center;
        }
    }
}

@media screen and (max-width: 685px) {
    .footer-content{
        display: flex;
        flex-flow: column;
        column-gap: 3;
    }
}