<div class="caixa">
    <h1>Relatórios</h1>

    <div class="card">
        <p-tabView>
            <p-tabPanel header="Turmas">
                <div class="rdButton">
                    <div class="flex align-items-center" *ngFor="let turma of turmaFilterOptions" class="field-checkbox">
                        <p-radioButton  [inputId]="'tu'+turma.id.toString()" [value]="turma" [(ngModel)]="selectedTurmaFilter" (ngModelChange)="mudarValorTurma()" name="turma" ></p-radioButton>
                        <label [for]="'tu'+turma.id" class="ml-2">{{ turma.nome }}</label>
                    </div>
                </div>

                <div class="dropFlex">
                    <p-dropdown appendTo="body" placeholder="Ano" optionLabel="Ano" [options]="anorelatorioArray" [filter]="true" [showClear]="true" inputId="relatAno" [(ngModel)]="selectedAnoTurma" >
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-ano pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ ano }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    
                    <p-dropdown appendTo="body" placeholder="Semestre" optionLabel="Semestre" [options]="semestrerelatorioArray" [filter]="true" [showClear]="true" inputId="relatSemTurma" [(ngModel)]="selectedSemestreTurma" >
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-semestre pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ semestre }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    
                    <ng-container *ngIf="selectedTurmaFilter.id == 1">
                        <p-dropdown appendTo="body" placeholder="Turma" optionLabel="Turma" [options]="turmasArray" [filter]="true" [showClear]="true" inputId="relatTurma" [(ngModel)]="selectedTurma" >
                            <ng-template pTemplate="selectedItem" let-selectedOption>
                                <div class="flex align-items-center gap-2">
                                    <div>{{ selectedOption }}</div>
                                </div>
                            </ng-template>
                            <ng-template let-turma pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>{{ turma }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </ng-container>
                </div>

                <div class="tab3-mss" *ngIf="mss != ''">
                    {{ mss }}
                </div>
            
                <div class="tab3-btn">
                    <a class="p-button botaoC" (click)="onSubmitTurmas()">Gerar Relatorio</a>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Professores">
                <div class="rdButton">
                    <div class="flex align-items-center" *ngFor="let prof of profFilterOptions" class="field-checkbox">
                        <p-radioButton  [inputId]="'pro'+prof.id.toString()" [value]="prof" [(ngModel)]="selectedProfFilter" (ngModelChange)="mudarValorProfessor()" name="prof" ></p-radioButton>
                        <label [for]="'pro'+prof.id" class="ml-2">{{ prof.nome }}</label>
                    </div>
                </div>

                <div class="dropFlex">
                    <p-dropdown appendTo="body" placeholder="Ano" optionLabel="Ano" [options]="anorelatorioArray" [filter]="true" [showClear]="true" inputId="relatAno" [(ngModel)]="selectedAnoProf" >
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-ano pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ ano }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    
                    <p-dropdown appendTo="body" placeholder="Semestre" optionLabel="Semestre" [options]="semestrerelatorioArray" [filter]="true" [showClear]="true" inputId="relatSemTurma" [(ngModel)]="selectedSemestreProf" >
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-semestre pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ semestre }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    
                    <ng-container *ngIf="selectedProfFilter.id == 1 || selectedProfFilter.id == 2">
                        <p-dropdown appendTo="body" placeholder="Coordenadoria" optionLabel="Coordenadoria" [options]="coodArray" [filter]="true" [showClear]="true" inputId="relatCoord" [(ngModel)]="selectedCoodLabel" (ngModelChange)="transformCoord()" >
                            <ng-template pTemplate="selectedItem" let-selectedOption>
                                <div class="flex align-items-center gap-2">
                                    <div>{{ selectedOption.label }}</div>
                                </div>
                            </ng-template>
                            <ng-template let-cood pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>{{ cood.label }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </ng-container>
                    
                    <ng-container *ngIf="selectedProfFilter.id == 2">
                        <p-dropdown appendTo="body" placeholder="Professor" optionLabel="Professor" [options]="profArray" [filter]="true" [showClear]="true" inputId="relatProf" [(ngModel)]="selectedProfLabel" (ngModelChange)="transformProf()" >
                            <ng-template pTemplate="selectedItem" let-selectedOption>
                                <div class="flex align-items-center gap-2">
                                    <div>{{ selectedOption.label }}</div>
                                </div>
                            </ng-template>
                            <ng-template let-prof pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>{{ prof.label }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </ng-container>
                </div>

                <div class="tab3-mss" *ngIf="mss != ''">
                    {{ mss }}
                </div>
            
                <div class="tab3-btn">
                    <a class="p-button botaoC" (click)="onSubmitProfessores()">Gerar Relatorio</a>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Disciplinas">
                <div class="dropFlex">
                    <p-dropdown appendTo="body" placeholder="Ano" [options]="anorelatorioArray" optionLabel="Ano" [filter]="true" [showClear]="true" inputId="relatDiscp" [(ngModel)]="selectedAnoDiscp" >
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-ano pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ ano }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    
                    <p-dropdown appendTo="body" placeholder="Semestre" [options]="semestrerelatorioArray" optionLabel="Semestre" [filter]="true" [showClear]="true" inputId="relatSem" [(ngModel)]="selectedSemestreDiscp" >
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-semestre pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ semestre }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>

                <div class="tab3-mss" *ngIf="mss != ''">
                    {{ mss }}
                </div>
            
                <div class="tab3-btn">
                    <a class="p-button botaoC" (click)="onSubmitDisciplinas()">Gerar Relatorio</a>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>



<div class="card">
    <p-messages [(value)]="messages" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" [enableService]="false"></p-messages>
</div>
