<div class="caixa">
    <h1>Eventos</h1>

    <div class="opcao">
        <a (click)="showDialog()" class="p-button botaoC">Cadastrar +</a>
        
        <div class="pesq">
            <p-overlayPanel #op>
                <div style="display: flex; flex-direction: column; align-items: center; gap: .5rem;">
                    <p-dropdown [options]="filterOptions" [(ngModel)]="selectedFilter" optionLabel="nome" [showClear]="true" (ngModelChange)="updateMask()" placeholder="Selecione um filtro"></p-dropdown>
                    <p-button label="Limpar filtro" severity="warning" (click)="limparFilter()"></p-button>
                </div>
            </p-overlayPanel>
            <p-inputGroup>
                <button type="button" pButton (click)="op.toggle($event)" icon="pi pi-filter-fill"></button>
                <input #searchInput type="text" pInputText [mask]="selectedFilter?.id === 2 ? '00:00' : (selectedFilter?.id === 1 ? '00/00/0000' : null)" [placeholder]="txtFilter" (keydown)="onKeyDown($event, searchInput.value)" />

                <button type="button" pButton icon="pi pi-search" (click)="filterField(searchInput.value)"></button>
            </p-inputGroup>
        </div>
    </div>

    <div class="eqTable">
        <p-table
            #dt1
            [value]="eventosData"
            styleClass="p-datatable-striped"
            [tableStyle]="{'min-width': '50rem'}"
        >
            <ng-template pTemplate="header">
                <tr class="tbHeader">
                    <th>Nome</th>
                    <th>Data do Evento</th>
                    <th>Horário</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-evento>
                <tr class="tbBody">
                    <td>{{evento?.nome}}</td>
                    <td class="dtEvento">{{evento?.dataEvento | date: 'dd/MM/yyyy'}}</td>
                    <td>{{ formatarHora(evento?.horario?.horaInicio) }} - {{ formatarHora(evento?.horario?.horaFim) }}</td>
                    <td>
                        <button type="button" class="botaoInfo" (click)="showInfoDialog(evento)" pButton>Info</button>
                        <button type="button" class="botaoEdit" (click)="showEditDialog(evento, formatarDatas(evento?.dataEvento))" pButton>Editar</button>
                        <button type="button" class="botaoDele" (click)="confirm2($event, evento?.id)" severity="danger" pButton>Deletar</button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="3">Não há eventos cadastrados.</td>
                </tr>
            </ng-template>
        </p-table>
        
        <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="firstEvn"
        [rows]="rowsEvn"
        [totalRecords]="sizeEvn"
        [rowsPerPageOptions]="[10, 20, 40, 60]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} registros" />
    </div>
    <p-scrollTop></p-scrollTop>
</div>


<div class="card flex justify-content-center">
    <p-dialog class="pHeader" [header]=ehTitulo [(visible)]="visible" [modal]="true" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <form id="meuFormulario" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="divInput">
                <span class="p-float-label">
                    <input pInputText id="nomeEvent" class="form-control" formControlName="nome" maxlength="50" />
                    <label for="nomeEvent">Nome do evento</label>
                </span>
            </div>
            <div class="divInput labelFlex">
                <div>
                    <span class="p-float-label">
                        <p-calendar appendTo="body" dateFormat="dd/mm/yy" [readonlyInput]="true" id="iniData" class="form-control" formControlName="dataEvento" (onSelect)="updateCheckboxState()" ></p-calendar>
                        <label for="iniData">Data do evento</label>
                    </span>
                </div>
                <div>
                    <span class="p-float-label">
                        <p-dropdown #dropdownHour appendTo="body" [options]="horariosArray" placeholder="Selecione o horário" inputId="horAloc" class="form-control" formControlName="horario" (onChange)="updateCheckboxState()">
                            <ng-template let-hourData pTemplate="selectedItem">
                                <div>{{ formatarHora(hourData.horaInicio) }} - {{ formatarHora(hourData.horaFim) }}</div>
                            </ng-template>
                            <ng-template let-hourData pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                <div>{{ formatarHora(hourData.horaInicio) }} - {{ formatarHora(hourData.horaFim) }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        <label for="horAloc">Horário</label>
                    </span>
                </div>
            </div>
            <div class="divInput" *ngIf="enableCheck">
                <p-checkbox [(ngModel)]="checkedReplica" [ngModelOptions]="{standalone: true}" label="Quer replicar data?" [binary]="true" inputId="binary" (ngModelChange)="replicaIntervalo();"></p-checkbox>
            </div>
            <div class="divInput" *ngIf="checkedReplica">
                <span class="p-float-label">
                    <p-calendar [(ngModel)]="diasIntervalo" [ngModelOptions]="{standalone: true}" appendTo="body" selectionMode="multiple" dateFormat="dd/mm/yy" [readonlyInput]="true" id="itvData" (ngModelChange)="verificarDataHour()" [minDate]="minDate" ></p-calendar>
                    <label for="itvData">Intervalo de dias</label>
                </span>
            </div>
            <div class="replicaGrid" *ngIf="datasHour.length > 0">
                <div class="columnContainer" *ngFor="let replica of datasHour; let i = index">
                    <div class="divInput labelFlex">
                        <div>
                            <p-calendar appendTo="body" [disabled]="true" dateFormat="dd/mm/yy" [readonlyInput]="true" [(ngModel)]="replica.dataEvento" [ngModelOptions]="{standalone: true}" ></p-calendar>
                        </div>
                        <div>
                            <span class="p-float-label">
                                <p-dropdown #dropdownHour appendTo="body" [options]="horariosArray" placeholder="Selecione o horário" inputId="horAloc{{i}}" [(ngModel)]="replica.horario" [ngModelOptions]="{standalone: true}">
                                    <ng-template let-hourData pTemplate="selectedItem">
                                        <div>{{ formatarHora(hourData.horaInicio) }} - {{ formatarHora(hourData.horaFim) }}</div>
                                    </ng-template>
                                    <ng-template let-hourData pTemplate="item">
                                        <div class="flex align-items-center gap-2">
                                        <div>{{ formatarHora(hourData.horaInicio) }} - {{ formatarHora(hourData.horaFim) }}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                                <label for="horAloc{{i}}">Horário</label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divInput labelDescFlex">
                <label for="descEvent">Descrição</label>
                <textarea pInputTextarea rows="5" cols="30" maxlength="5000" id="descEvent" class="form-control" formControlName="descricao" ></textarea>
            </div>
            <div class="divInput">
                <span class="p-float-label">
                    <p-dropdown #dropdownLocal appendTo="body" [options]="locaisArray" optionLabel="nome" [filter]="true" filterBy="nome" [showClear]="true" placeholder="Selecione um local" inputId="localEvent" class="form-control" formControlName="local">
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption?.nome }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-localData pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ localData.nome }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <label for="localEvent">Local</label>
                </span>
            </div>
            <div class="divBotao">
                <button type="submit" class="botaoSalva" *ngIf="cadastrar" pButton>Salvar</button>
                <button type="submit" class="botaoEdit" *ngIf="editar" pButton>Atualizar</button>
                <button type="button" class="botaoCancela" (click)="hideDialog()" pButton>Cancelar</button>
            </div>
        </form>
    </p-dialog>
</div>

<div class="card flex justify-content-center">
    <p-dialog class="pHeader" [header]=ehTitulo [(visible)]="visibleEdit" [modal]="true" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <form id="meuFormulario" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="divInput">
                <span class="p-float-label">
                    <input pInputText id="nomeEvent" class="form-control" formControlName="nome" maxlength="50" />
                    <label for="nomeEvent">Nome do evento</label>
                </span>
            </div>
            <div class="divInput">
                <span class="p-float-label">
                    <p-calendar #calendarEdit appendTo="body" dateFormat="dd/mm/yy" [readonlyInput]="true" id="iniData" class="form-control" formControlName="dataEvento" ></p-calendar>
                    <label for="iniData">Data do Evento</label>
                </span>
            </div>
            <div class="divInput">
                <span class="p-float-label">
                    <p-dropdown #dropdownHour appendTo="body" [options]="horariosArray" placeholder="Selecione o horário" inputId="horAloc" class="form-control" formControlName="horario">
                        <ng-template let-hourData pTemplate="selectedItem">
                            <div>{{ formatarHora(hourData.horaInicio) }} - {{ formatarHora(hourData.horaFim) }}</div>
                        </ng-template>
                        <ng-template let-hourData pTemplate="item">
                            <div class="flex align-items-center gap-2">
                            <div>{{ formatarHora(hourData.horaInicio) }} - {{ formatarHora(hourData.horaFim) }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <label for="horAloc">Horário</label>
                </span>
            </div>
            <div class="divInput labelDescFlex">
                <label for="descEvent">Descrição</label>
                <textarea pInputTextarea rows="5" cols="30" maxlength="5000" id="descEvent" class="form-control" formControlName="descricao" ></textarea>
            </div>
            <div class="divInput">
                <span class="p-float-label">
                    <p-dropdown #dropdownLocal appendTo="body" [options]="locaisArray" optionLabel="nome" [filter]="true" filterBy="nome" [showClear]="true" placeholder="Selecione um local" inputId="localEvent" class="form-control" formControlName="local">
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption?.nome }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-localData pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ localData.nome }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <label for="localEvent">Local</label>
                </span>
            </div>
            <div class="divBotao">
                <button type="submit" class="botaoEdit" *ngIf="editar" pButton>Atualizar</button>
                <button type="button" class="botaoCancela" (click)="hideDialog()" pButton>Cancelar</button>
            </div>
        </form>
    </p-dialog>
</div>

<div class="card flex justify-content-center">
    <p-dialog header="Info do Evento" [(visible)]="visibleInfo" [breakpoints]="{ '960px': '75vw' }" [style]="{width: '50vw', 'z-index': '1102'}">
        <div id="meuFormInfo">
            <div class="divInput dtEvento">
                <b>Nome do evento:</b> {{eventoInfo?.nome}}
            </div>
            <div class="divInput dtEvento">
                <b>Data do evento:</b> {{eventoInfo?.dataEvento | date: 'fullDate' : '' : 'pt-BR'}}
            </div>
            <div class="divInput">
                <b>Horário:</b> {{ eventoInfo?.horario }}
                <!-- <b>Horário:</b> {{ formatarHora(eventoInfo?.horarioInicio) }} -->
            </div>
            <div class="divInput">
                <b>Local do evento:</b> {{eventoInfo?.local?.nome}}
            </div>
            <div class="divInput" style="white-space: pre-line;">
                <b>Descrição:</b> {{eventoInfo?.descricao}}
            </div>
            <div class="divBotao replica">
                <button type="button" class="botaoInfo" (click)="visibleInfo = false" pButton>Ok</button>
            </div>
        </div>
    </p-dialog>
</div>

<div class="card">
    <p-messages [(value)]="messages" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" [enableService]="false"></p-messages>
</div>