@mixin themeButton($back: #BFE4FF, $color: #256CF0) {
    background: $back;
    color: $color;
    border: none;
    box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.26);
}

.caixa{
    h1{
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        margin-top: 2rem;
    }
    .dtEvento{
        text-transform: capitalize;
    }
    
    .opcao{
        margin-top: 3rem;
        .botaoC{
            color: white;
            background-color: #00208F;
            text-decoration: none;
            letter-spacing: .1rem;
            font-weight: 600;
            text-transform: uppercase;
            border: .1rem solid #00208F;
            box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.26);
        }
        .botaoC:active{
            background-color: white;
            color: #00208F;
            box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.4);
        }

        .pesq{
            display: flex;
            input{
                background-color: #BFE4FF;
                box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.26);
            }
            input:focus {
                outline: none;
                border: .1rem solid #4A82FD;
            }
            button{
                @include themeButton(#4A82FD, white);
                height: 2.875rem;
                box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.5);
            }
            button:active{
                box-shadow: none;
            }
        }
    }

    .eqTable{
        margin: 4rem 0;
        border: .1rem solid #B1CAFA;
        
        .tbHeader{
            border-radius: .5rem 0;
            
            th{
                background-color: #256CF0 !important;
                color: white;
                font-weight: 600;
                letter-spacing: .1rem;
                text-align: center;
                text-transform: uppercase;
            }
        }
        
        .tbBody{
            
            td{
                text-align: center;
            }
            
            button:active{
                box-shadow: none;
            }
            .botaoInfo{
                @include themeButton(#A2FF7F, #1E8805);
            }
            .botaoInfo:focus{
                border: .02rem solid #1E8805;
            }

            .botaoEdit{
                @include themeButton(#FFDD77, #846406);
                margin: 0 .5rem;
            }
            .botaoEdit:focus{
                border: .02rem solid #846406;
            }

            .botaoDele{
                @include themeButton(#FF8381, #89041E);
            }
            .botaoDele:focus{
                border: .02rem solid #89041E;
            }
        }
        .tbBody:hover{
            background-color: #E5E7EB;
        }
    }
}

.card{
    #meuFormInfo{
        .divInput{
            margin: 2rem 0;
        }
        .dtEvento{
            text-transform: capitalize;
        }
        .divInput.flexContainer{
            display: flex;
        }
        .flexContainer > div:not(.lastDiv) {
            margin-right: 2rem;
        }
    }
    #meuFormulario{
        margin-top: 3rem;
    }
    .validation-error{
        margin-top: -0.5rem;
        margin-bottom: -.4375em;
        p{
            color: #dc3545;
            margin-top: 1em;
            border-left: 3px solid #dc3545;
            padding-left: .2em;
            text-align: start;
            font-size: .8rem;
        }
    }
    .divInput{
        width: fit-content;
        margin: 0 auto 2rem;
        input, textarea{
            background-color: #BFE4FF;
        }
        textarea{
            border: .02rem solid #D1D5DB;
            border-radius: 6px;
            height: 100%;
            box-sizing: border-box;
        }
        textarea:hover{
            border: .02rem solid #256CF0;
        }
        textarea:focus{
            border: .02rem solid #256CF0;
            outline: none;
        }
    }
    .divInput.labelDescFlex{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    .divInput.labelHourFlex {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .columnContainer.divInput {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .divBotao{
        button{
            padding-left: 4rem;
            padding-right: 4rem;
        }
        button:active{
            box-shadow: none;
        }
        .botaoInfo{
            @include themeButton(#A2FF7F, #1E8805);
        }
        .botaoInfo:focus{
            border: .02rem solid #1E8805;
        }

        .botaoSalva{
            @include themeButton();
        }
        .botaoSalva:focus{
            border: .02rem solid #256CF0;
        }

        .botaoEdit{
            @include themeButton(#FFDD77, #846406);
        }
        .botaoEdit:focus{
            border: .02rem solid #846406;
        }

        .botaoCancela{
            @include themeButton(#FF8381, #89041E);
        }
        .botaoCancela:focus{
            border: .02rem solid #89041E;
        }
    }
}

:host ::ng-deep {
    .p-dialog .p-dialog-header {
        background-color: rgb(0, 15, 68);
        color: white;
        letter-spacing: .1rem;
    }
    .p-calendar input{
        background-color: #BFE4FF;
    }
    .card .p-dropdown, .p-inputmask{
        background-color: #BFE4FF;
    }
    .p-dropdown-panel{
        z-index: 10000;
        position: absolute;
        overflow-y: auto;
    }
    .p-inputswitch{
        margin-right: 1rem;
    }
    .divInput.pSwtich{
        display: flex;
        align-items: center;
        margin: 0 auto 1rem;
    }
    .p-messages {
        width: fit-content;
        position: fixed;
        top: 1.25rem;
        right: 1.25rem;
        z-index: 11000;
    }
    .p-message-warn {
        color: #8b7400;
    }
    .p-message-success {
        color: #016b06;
    }
    .p-message-info {
        color: #00028b;
    }
    .p-message-error {
      color: red;
    }
    .p-datatable>.p-datatable-wrapper {
        overflow-x: auto;
    }
    .p-datatable-table {
        border-spacing: 0px;
        width: 100.25rem;
    }

    // .ng-trigger.ng-trigger-overlayAnimation.ng-tns-c3632051545-2.p-datepicker.p-component.ng-star-inserted {
    //     // margin-top: 310px;
    // }
    // .ng-trigger.ng-trigger-overlayAnimation.ng-tns-c3632051545-3.p-datepicker.p-component.ng-star-inserted {
    //     // margin-top: 380px;
    // }
    button.p-ripple.p-element.p-button.p-component.p-button-danger.p-button-raised {
        letter-spacing: 0.1rem;
        font-weight: 600;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 686px) {
    .caixa{
        margin: 0 6rem 12rem;
        .opcao{
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            .btn-opcao{
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;
              }
        }
    }
    
    .card{
        input{
            width: 40vw;
        }
        textarea, .validation-error{
            min-width: 40vw;
            max-width: 40vw;
        }
        .divBotao{
            display: flex;
            width: fit-content;
            margin: 5rem auto 0;
            .botaoSalva, .botaoEdit{
                margin-right: 5rem;
            }
        }
        .divBotao.replica{
            .botaoSalva{
                margin-right: 0;
            }
        }
        // .divInput.labelFlex > .validation-error{
        //     position: absolute;
        //     bottom: -5rem;
        //     left: 32vw;
        //     p {
        //         width: 7rem;
        //         white-space: break-spaces;
        //     }
        // }
        .divInput.labelFlex {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4vw;
            // position: relative;

            div{
                width: 18vw;
            }
            // .flexGrid{
            //     display: flex;
            //     justify-content: center;
            //     gap: 2vw;

            //     div{
            //         width: 9vw;
            //         display: flex;
            //         flex-direction: column;
            //         input{width: 100%;}
            //     }
            // }
        }
    }
    :host ::ng-deep {
        .p-calendar input{
            width: 40vw;
        }
        .card .p-dropdown, .p-inputmask{
            width: 40vw;
        }
        .divInput.labelFlex{
            .p-calendar input, .p-dropdown{width: 18vw;}
        }
    }
}

@media screen and (max-width: 685px) {
    .caixa{
        margin: 0 1rem 12rem;
        .opcao{
            display: flex;
            flex-direction: column;
            
          .btn-opcao{
            display: flex;
            flex-direction: column;
            gap: 1rem;
          }

            .pesq{
                margin-top: 2rem;
            }
        }
    }
    .card{
        #meuFormInfo{
            .divInput.flexContainer{
                display: flex;
                flex-direction: column;
                column-gap: 2;
            }
            .flexContainer > div:not(.lastDiv) {
                margin-right: 0;
            }
        }

        input{
            width: 60vw;
        }
        textarea, .validation-error{
            min-width: 60vw;
            max-width: 60vw;
        }
        .divBotao{
            display: flex;
            flex-direction: column;
            width: fit-content;
            margin: 3rem auto 0;
            .botaoSalva, .botaoEdit{
                margin-bottom: 1rem;
            }
        }
        .divInput.labelFlex{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: 1.7rem 1rem;
            // .flexGrid{
            //     display: flex;
            //     flex-direction: column;
            //     gap: 1rem;
            // }
        }
    }
    :host ::ng-deep {
        .p-calendar input{
            width: 60vw;
        }
        .card .p-dropdown, .p-inputmask{
            width: 60vw;
        }
    }
}