<div class="caixa">
  <h1>Alocações</h1>

  <div class="opcao">
    <div class="op-btn">
      <a (click)="showDialog()" class="p-button botaoC">Cadastrar +</a>
      <a (click)="showMigraDialog()" class="p-button botaoM">Migrar +</a>
    </div>

    <div class="pesq">
      <p-overlayPanel #op>
        <div style="display: flex; flex-direction: column; align-items: center; gap: .5rem;">
          <p-dropdown [options]="filterOptions" [(ngModel)]="selectedFilter" optionLabel="nome" [showClear]="true"
            (ngModelChange)="updateMask('a')" placeholder="Selecione um filtro"></p-dropdown>
          <p-button label="Limpar filtro" severity="warning" (click)="limparFilter('a')"></p-button>
        </div>
      </p-overlayPanel>
      <p-inputGroup>
        <button type="button" pButton (click)="op.toggle($event)" icon="pi pi-filter-fill"></button>
        <input #searchInput type="text" pInputText [mask]="selectedFilter?.id === 3 ? '00:00' : null"
          [placeholder]="txtFilter" (keydown)="onKeyDown('a', $event, searchInput.value)" />
        <button type="button" pButton icon="pi pi-search" (click)="filterField('a', searchInput.value)"></button>
      </p-inputGroup>
    </div>
  </div>

  <div class="eqTable">
    <p-table #dt1 [value]="alocacoesData" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}" >
      <ng-template pTemplate="header">
        <tr class="tbHeader">
          <th>Professor</th>
          <th>Local</th>
          <th>Disciplina</th>
          <th>Horário</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-alocacao>
        <tr class="tbBody">
          <td>{{alocacao?.professor?.nome}}</td>
          <td>{{alocacao?.local?.nome}}</td>
          <td>{{alocacao?.periodoDisciplina?.disciplina?.nome}}</td>
          <td>{{ formatarHora(alocacao?.horario?.horaInicio) }} - {{ formatarHora(alocacao?.horario?.horaFim) }}</td>
          <td>
            <button type="button" class="botaoL" (click)="showDialogLog(alocacao)" pButton>Log</button>
            <button type="button" class="botaoInfo" (click)="showInfoDialog(alocacao)" pButton>Info</button>
            <button type="button" class="botaoEdit"
              (click)="showEditDialog(alocacao, formatarDatas(alocacao?.dataAula))" pButton >Editar</button>
            <p-toast></p-toast>
            <p-confirmPopup></p-confirmPopup>
            <button type="button" class="botaoDele" (click)="confirm2($event, alocacao?.id)" severity="danger" pButton >Deletar</button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="3">Não há alocações cadastradas.</td>
        </tr>
      </ng-template>
    </p-table>

    <p-paginator
    (onPageChange)="onPageChange($event, 0)"
    [first]="firstAloc"
    [rows]="rowsAloc"
    [totalRecords]="sizeAloc"
    [rowsPerPageOptions]="[10, 20, 40, 60]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} registros" />
  </div>

  <div class="eqTable">
    <p-table #dt1 [value]="alocacoesDataDelete" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}" >
      <ng-template pTemplate="caption">
        <h3>Alocações Deletadas</h3>
        <div class="pesq">
            <p-overlayPanel #opI>
              <div style="display: flex; flex-direction: column; align-items: center; gap: .5rem;">
                <p-dropdown [options]="filterOptions" [(ngModel)]="selectedFilterInat" optionLabel="nome" [showClear]="true"
                  (ngModelChange)="updateMask('i')" placeholder="Selecione um filtro"></p-dropdown>
                <p-button label="Limpar filtro" severity="warning" (click)="limparFilter('i')"></p-button>
              </div>
            </p-overlayPanel>
            <p-inputGroup>
                <button type="button" pButton (click)="opI.toggle($event)" icon="pi pi-filter-fill"></button>
                <input #searchInputInat type="text" pInputText [mask]="selectedFilterInat?.id === 3 ? '00:00' : null" [placeholder]="txtFilterInat" (keydown)="onKeyDown('i', $event, searchInputInat.value)" />
                <button type="button" pButton icon="pi pi-search" (click)="filterField('i', searchInputInat.value)"></button>
            </p-inputGroup>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr class="tbHeader">
          <th>Professor</th>
          <th>Local</th>
          <th>Disciplina</th>
          <th>Horário</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-alocacaoInat>
        <tr class="tbBody">
          <td>{{alocacaoInat?.professor?.nome}}</td>
          <td>{{alocacaoInat?.local?.nome}}</td>
          <td>{{alocacaoInat?.periodoDisciplina?.disciplina?.nome}}</td>
          <td>{{ formatarHora(alocacaoInat?.horario?.horaInicio) }} - {{ formatarHora(alocacaoInat?.horario?.horaFim) }}</td>
          <td>
            <button type="button" class="botaoL" (click)="showDialogLog(alocacaoInat)" pButton>Log</button>
            <button type="button" class="botaoInfo" (click)="showInfoDialog(alocacaoInat)" pButton>Info</button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="3">Não há alocações deletadas.</td>
        </tr>
      </ng-template>
    </p-table>

    <p-paginator
    (onPageChange)="onPageChange($event, 1)"
    [first]="firstDelAloc"
    [rows]="rowsDelAloc"
    [totalRecords]="sizeDelAloc"
    [rowsPerPageOptions]="[10, 20, 40, 60]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} registros" />
  </div>
  <p-scrollTop></p-scrollTop>
</div>


<div class="card flex justify-content-center">
  <p-dialog class="pHeader" [header]=ehTitulo [(visible)]="visible" [modal]="true" [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <form id="meuFormulario" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="divInput">
        <span class="p-float-label">
          <p-dropdown #dropdownProf appendTo="body" [options]="professoresArray" optionLabel="nome" [filter]="true"
            filterBy="nome" [showClear]="true" placeholder="Selecione um professor" inputId="profAloc"
            class="form-control" formControlName="professor">
            <ng-template pTemplate="selectedItem" let-selectedOption>
              <div class="flex align-items-center gap-2">
                <div>{{ selectedOption?.nome }}</div>
              </div>
            </ng-template>
            <ng-template let-professorData pTemplate="item">
              <div class="flex align-items-center gap-2">
                <div>{{ professorData.nome }}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <label for="localEvent">Professor</label>
        </span>
      </div>
      <div class="divInput">
        <span class="p-float-label">
          <p-dropdown #dropdownLocal appendTo="body" [options]="locaisArray" optionLabel="nome" [filter]="true"
            filterBy="nome" [showClear]="true" placeholder="Selecione um local" inputId="localAloc" class="form-control"
            formControlName="local">
            <ng-template pTemplate="selectedItem" let-selectedOption>
              <div class="flex align-items-center gap-2">
                <div>{{ selectedOption?.nome }}</div>
              </div>
            </ng-template>
            <ng-template let-localData pTemplate="item">
              <div class="flex align-items-center gap-2">
                <div>{{ localData.nome }}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <label for="localAloc">Local</label>
        </span>
      </div>
      <div class="divInput">
        <span class="p-float-label">
          <p-dropdown #dropdownPeriodo appendTo="body" [(ngModel)]="selectedPeriodo"
            [ngModelOptions]="{standalone: true}" [options]="periodosArray" [filter]="true" [showClear]="true"
            placeholder="Selecione o período" inputId="perArray" (ngModelChange)="updateDisciplinaState()">
            <ng-template pTemplate="selectedItem" let-selectedOption>
              <div class="flex align-items-center gap-2">
                <div>{{selectedOption?.ano}}/{{selectedOption?.semestre}} : {{ selectedOption?.dataInicio | date:
                  'dd/MM/yyyy' }} - {{ selectedOption?.dataFim | date: 'dd/MM/yyyy' }}</div>
              </div>
            </ng-template>
            <ng-template let-periodoData pTemplate="item">
              <div class="flex align-items-center gap-2">
                <div>{{periodoData?.ano}}/{{periodoData?.semestre}} : {{ periodoData?.dataInicio | date: 'dd/MM/yyyy' }}
                  - {{ periodoData?.dataFim | date: 'dd/MM/yyyy' }}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <label for="perArray">Período</label>
        </span>
      </div>
      <div class="divInput" *ngIf="enableDisciplina">
        <span class="p-float-label">
          <p-dropdown #dropdownDisc appendTo="body" [options]="periodosDisciplinaArray"
            placeholder="Selecione a disciplina" inputId="perdAloc" class="form-control"
            formControlName="periodoDisciplina" (onChange)="updateDataAulaState()">
            <ng-template let-selectedOption pTemplate="selectedItem">
              <div> {{ selectedOption?.disciplina?.sigla }} - {{ selectedOption?.disciplina?.nome }} </div>
            </ng-template>
            <ng-template let-disciplinaData pTemplate="item">
              <div class="flex align-items-center gap-2">
                <div> {{ disciplinaData?.disciplina?.sigla }} - {{ disciplinaData?.disciplina?.nome }} </div>
              </div>
            </ng-template>
          </p-dropdown>
          <label for="perdAloc">Disciplina</label>
        </span>
      </div>
      <div class="divInput labelFlex" *ngIf="enableDisciplina && enableDataAula">
        <div>
          <span class="p-float-label">
            <p-calendar #calendarAula appendTo="body" dateFormat="dd/mm/yy" id="iniPer" class="form-control"
              formControlName="dataAula" (onSelect)="onDateIniSelect()" [minDate]="minDateAula"
              [maxDate]="maxDateAula"></p-calendar>
            <label for="iniPer">Início da aula</label>
          </span>
        </div>
        <div>
          <span class="p-float-label">
            <p-dropdown #dropdownHour appendTo="body" [options]="horariosArray" placeholder="Selecione o horário"
              inputId="horAloc" class="form-control" formControlName="horario" (onChange)="updateSelectState()">
              <ng-template let-hourData pTemplate="selectedItem">
                <div>{{ formatarHora(hourData.horaInicio) }} - {{ formatarHora(hourData.horaFim) }}</div>
              </ng-template>
              <ng-template let-hourData pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <div>{{ formatarHora(hourData.horaInicio) }} - {{ formatarHora(hourData.horaFim) }}</div>
                </div>
              </ng-template>
            </p-dropdown>
            <label for="horAloc">Horário</label>
          </span>
        </div>
      </div>
      <div class="divInput" *ngIf="enableSelect">
        <span class="p-float-label">
          <p-multiSelect #multiselect [disabled]="disableDiaSemana" appendTo="body" inputId="semanaDia" display="chip"
            [(ngModel)]="selectedDiasSemana" [ngModelOptions]="{standalone: true}" [options]="opcaoSemana"
            optionLabel="nome" (onChange)="onMultiselectChange()"></p-multiSelect>
          <label for="semanaDia">Selecione os dias da semana</label>
        </span>
      </div>
      <div class="replicaGrid" *ngIf="alocacaoHour.length > 0">
        <div class="columnContainer" *ngFor="let replica of alocacaoHour; let i = index">
          <div class="divInput labelFlex">
            <div>
              <input pInputText [disabled]="true" [(ngModel)]="replica.diaSemana.nome"
                [ngModelOptions]="{standalone: true}" />
            </div>
            <div>
              <span class="p-float-label">
                <p-dropdown #dropdownHour appendTo="body" [options]="horariosArray" placeholder="Selecione o horário"
                  inputId="horAloc{{i}}" [(ngModel)]="replica.horario" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="onChangeHourIni()">
                  <ng-template let-hourData pTemplate="selectedItem">
                    <div>{{ formatarHora(hourData.horaInicio) }} - {{ formatarHora(hourData.horaFim) }}</div>
                  </ng-template>
                  <ng-template let-hourData pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <div>{{ formatarHora(hourData.horaInicio) }} - {{ formatarHora(hourData.horaFim) }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
                <label for="horAloc{{i}}">Horário</label>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="divInput" *ngIf="selectedDiasSemana.length > 0">
        <!-- <p-inputSwitch [(ngModel)]="enableCalendar" [ngModelOptions]="{standalone: true}" (ngModelChange)="onSwitchChange()" /> -->
        <p-checkbox [(ngModel)]="enableCalendar" [ngModelOptions]="{standalone: true}" (onChange)="onSwitchChange($event)" [binary]="true" inputId="binary" />
        <label for="binary">Ver calendário</label>
      </div>
      <div class="divInput" *ngIf="selectedDiasSemana.length > 0 && enableCalendar">
        <span class="p-float-label">
          <!-- <p-calendar #calendarIntervalo [(ngModel)]="diasIntervalo" [ngModelOptions]="{standalone: true}" appendTo="body" selectionMode="multiple" dateFormat="dd/mm/yy" [readonlyInput]="true" id="itvData" (ngModelChange)="verificarDataHour()" [minDate]="minDate" [maxDate]="maxDate" ></p-calendar> -->

          <p-calendar #calendarIntervalo appendTo="body" selectionMode="multiple" class="max-w-full"
            [(ngModel)]="diasIntervalo" [ngModelOptions]="{standalone: true}" id="itvData"
            (ngModelChange)="verificarDataHour()" [minDate]="minDate" [maxDate]="maxDate" [inline]="true"
            [showWeek]="true" />
          <!-- <label for="itvData">Intervalo de dias</label> -->
        </span>
      </div>
      <div class="divInput">
        <span class="p-float-label">
          <input pInputText maxlength="30" id="turmaAloc" class="form-control" formControlName="turma" />
          <label for="turmaAloc">Turma</label>
        </span>
      </div>
      <div class="divBotao">
        <button type="submit" class="botaoSalva" *ngIf="cadastrar" pButton>Salvar</button>
        <button type="button" class="botaoCancela" (click)="hideDialog()" pButton>Cancelar</button>
      </div>
    </form>
    <!-- <div style="margin-top:20px;margin-left: 4em; width: 600px;" form="form">
    <div style="background-color: tomato;">
        Detalhes do form
    </div>
    <pre style="background-color: tan;">
        Form válido: {{ form.valid }}
    </pre>
    <pre style="background-color: tan;">
        Form inválido: {{ !form.valid }}
    </pre>
    <pre style="background-color: tan;">
        Valores: <br> {{ form.value | json }}
    </pre>
</div> -->
  </p-dialog>
</div>

<div class="card flex justify-content-center">
  <p-dialog class="pHeader" [header]=ehTitulo [(visible)]="visibleEdit" [modal]="true"
    [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <form id="meuFormulario" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="divInput">
        <span class="p-float-label">
          <p-dropdown #dropdownProf appendTo="body" [options]="professoresArray" optionLabel="nome" [filter]="true"
            filterBy="nome" [showClear]="true" placeholder="Selecione um professor" inputId="profAloc"
            class="form-control" formControlName="professor">
            <ng-template pTemplate="selectedItem" let-selectedOption>
              <div class="flex align-items-center gap-2">
                <div>{{ selectedOption?.nome }}</div>
              </div>
            </ng-template>
            <ng-template let-professorData pTemplate="item">
              <div class="flex align-items-center gap-2">
                <div>{{ professorData.nome }}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <label for="localEvent">Professor</label>
        </span>
      </div>
      <div class="divInput">
        <span class="p-float-label">
          <p-dropdown #dropdownLocal appendTo="body" [options]="locaisArray" optionLabel="nome" [filter]="true"
            filterBy="nome" [showClear]="true" placeholder="Selecione um local" inputId="localAloc" class="form-control"
            formControlName="local">
            <ng-template pTemplate="selectedItem" let-selectedOption>
              <div class="flex align-items-center gap-2">
                <div>{{ selectedOption?.nome }}</div>
              </div>
            </ng-template>
            <ng-template let-localData pTemplate="item">
              <div class="flex align-items-center gap-2">
                <div>{{ localData.nome }}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <label for="localAloc">Local</label>
        </span>
      </div>
      <div class="divInput">
        <span class="p-float-label">
          <p-dropdown appendTo="body" [(ngModel)]="selectedPeriodo" [ngModelOptions]="{standalone: true}" [options]="periodosArray" placeholder="Selecione o período" inputId="perArray" (ngModelChange)="updateDisciplinaStateEdit()" >
            <ng-template pTemplate="selectedItem" let-selectedOption>
              <div class="flex align-items-center gap-2">
                <div>{{selectedOption?.ano}}/{{selectedOption?.semestre}} : {{ selectedOption?.dataInicio | date: 'dd/MM/yyyy' }} - {{ selectedOption?.dataFim | date: 'dd/MM/yyyy' }}</div>
              </div>
            </ng-template>
            <ng-template let-periodoData pTemplate="item">
              <div class="flex align-items-center gap-2">
                <div>{{periodoData?.ano}}/{{periodoData?.semestre}} : {{ periodoData?.dataInicio | date: 'dd/MM/yyyy' }} - {{ periodoData?.dataFim | date: 'dd/MM/yyyy' }}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <label for="perArray">Período</label>
        </span>
      </div>
      <div class="divInput">
        <span class="p-float-label">
          <p-dropdown appendTo="body" [options]="periodosDisciplinaArray" placeholder="Selecione a disciplina" inputId="perdAloc" class="form-control" formControlName="periodoDisciplina" optionLabel="nome" [filter]="true" filterBy="nome" [showClear]="true">
            <ng-template let-selectedOption pTemplate="selectedItem">
              <div> {{ selectedOption?.disciplina?.sigla }} - {{ selectedOption?.disciplina?.nome }} </div>
            </ng-template>
            <ng-template let-disciplinaData pTemplate="item">
              <div class="flex align-items-center gap-2">
                <div> {{ disciplinaData?.disciplina?.sigla }} - {{ disciplinaData?.disciplina?.nome }} </div>
              </div>
            </ng-template>
          </p-dropdown>
          <label for="perdAloc">Disciplina</label>
        </span>
      </div>
      <div class="divInput">
        <span class="p-float-label">
          <p-calendar #calendar appendTo="body" dateFormat="dd/mm/yy" id="fimPer" class="form-control" formControlName="dataAula" [minDate]="minDateAula"
          [maxDate]="maxDateAula" ></p-calendar>
          <label for="fimPer">Data da aula</label>
        </span>
      </div>
      <div class="divInput">
        <span class="p-float-label">
          <p-dropdown #dropdownHour appendTo="body" [options]="horariosArray" placeholder="Selecione o horário"
            inputId="horAloc" class="form-control" formControlName="horario">
            <ng-template let-hourData pTemplate="selectedItem">
              <div>{{ formatarHora(hourData.horaInicio) }} - {{ formatarHora(hourData.horaFim) }}</div>
            </ng-template>
            <ng-template let-hourData pTemplate="item">
              <div class="flex align-items-center gap-2">
                <div>{{ formatarHora(hourData.horaInicio) }} - {{ formatarHora(hourData.horaFim) }}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <label for="horAloc">Horário</label>
        </span>
      </div>
      <div class="divInput">
        <span class="p-float-label">
          <input pInputText maxlength="10" id="turmaAloc" class="form-control" formControlName="turma" />
          <label for="turmaAloc">Turma</label>
        </span>
      </div>
      <div class="divBotao">
        <button type="submit" class="botaoEdit" *ngIf="editar" pButton>Atualizar</button>
        <button type="button" class="botaoCancela" (click)="hideDialog()" pButton>Cancelar</button>
      </div>
    </form>
  </p-dialog>
</div>

<div class="card flex justify-content-center">
  <p-dialog header="Info da Alocação" [(visible)]="visibleInfo" [breakpoints]="{ '960px': '75vw' }"
    [style]="{width: '50vw', 'z-index': '1102'}">
    <div id="meuFormInfo">
      <div class="divInput">
        <b>Professor: </b> {{alocacaoInfo?.professor?.nome}}
      </div>
      <div class="divInput flexContainer">
        <div>
          <b>Local: </b> {{alocacaoInfo?.local?.nome }}
        </div>
      </div>
      <div class="divInput">
        <b>Disciplina: </b> {{alocacaoInfo?.periodoDisciplina?.disciplina?.nome}}
      </div>
      <div class="divInput">
        <b>Horário: </b> {{ alocacaoInfo?.horario?.horaInicio }} - {{ alocacaoInfo?.horario?.horaFim }}
      </div>
      <div class="divInput dtAlocacao flexContainer">
        <div>
          <b>Dia de aula: </b> {{alocacaoInfo?.dataAula | date: 'fullDate' : '' : 'pt-BR'}}
        </div>
        <div class="lastDiv">
          <b>Turma: </b> {{alocacaoInfo?.turma}}
        </div>
      </div>
      <div class="divInput">
        <b>Semestre: </b> {{alocacaoInfo?.periodoDisciplina?.periodo?.ano}}/{{alocacaoInfo?.periodoDisciplina?.periodo?.semestre}}
      </div>
      <div class="divInput dtAlocacao">
        <b>Período: </b> {{ alocacaoInfo?.periodoDisciplina?.periodo?.dataInicio | date: 'fullDate' : '' : 'pt-BR' }}<b>
          - </b>{{ alocacaoInfo?.periodoDisciplina?.periodo?.dataFim | date: 'fullDate' : '' : 'pt-BR' }}
      </div>
      <div class="divBotao replica">
        <button type="button" class="botaoInfo" (click)="visibleInfo = false" pButton>Ok</button>
      </div>
    </div>
  </p-dialog>
</div>

<div class="card flex justify-content-center">
  <p-dialog header="Logs de Alocações" [(visible)]="visibleLog" [modal]="true" [breakpoints]="{ '960px': '75vw' }"
    [style]="{width: '50vw', 'z-index': '1102'}">
    <div class="cardLog" *ngIf="logsData.length > 0">
      <p-accordion>
        <p-accordionTab *ngFor="let log of logsData">
          <ng-template let="header" pTemplate="header" style="display: flex;">
            <div class="custom-header">
              <span>Cód. Log: {{ log.id }}</span>
              <span>Ação: <p-tag class="severity-{{ +getSeverity(log.operacao)}}" [severity]="getSeverity(log.operacao)"
                  [icon]="getIcons(log.operacao)" value="{{ log.operacao }}"></p-tag></span>
              <span>Usuário: {{ log.usuario.nome }}</span>
              <span>Data: {{ log.data | date : 'short' : '' : 'pt-BR'}}</span>
            </div>
          </ng-template>
          <p-table [value]="cols" [tableStyle]="{ 'width': '100%' }">
            <ng-template pTemplate="header">
              <tr>
                <th>Campo</th>
                <th>Conteúdo</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-col>
              <tr *ngIf="shouldDisplayField(log, col.field)">
                <td>{{ col.header }}</td>
                <td>
                  <ng-container *ngIf="log.operacao === 'Exclusão' || isDifferent(jsonForObject(log.descricaoAntiga), jsonForObject(log.descricaoNova), col.field)">
                    <div *ngIf="log.operacao === 'Exclusão' || log.descricaoAntiga" class="old-description">
                      {{ formatarApresentacao(jsonForObject(log.descricaoAntiga), col.field) }}
                    </div>
                    <hr *ngIf="log.descricaoAntiga && log.descricaoNova" class="description-separator">
                    <div *ngIf="log.descricaoNova" class="new-description">
                      {{ formatarApresentacao(jsonForObject(log.descricaoNova), col.field) }}
                    </div>
                  </ng-container>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-accordionTab>
      </p-accordion>
    </div>

    <div class="cardLog" *ngIf="logsData.length <= 0">
      <h3>Não há logs registrados.</h3>
    </div>

    <div class="divBotao replica">
      <button type="button" class="botaoL" (click)="visibleLog = false" pButton>Ok</button>
    </div>
  </p-dialog>
</div>

<div class="card flex justify-content-center">
  <p-dialog header="Migrar Alocações" [(visible)]="visibleMigra" [modal]="true" [breakpoints]="{ '960px': '75vw' }"
    [style]="{width: '50vw', 'z-index': '1102'}">
    <div id="migraForm">
      <div class="divInput">
        <p-floatLabel>
          <p-multiSelect
              appendTo="body"
              inputId="float-label"
              [options]="dataMysqlAlocacoes"
              [(ngModel)]="mysqlAlocacoes"
              optionLabel="disciplinaMySQL.sigla"
              display="chip"
              [showClear]="true" >
              <ng-template let-value pTemplate="selectedItems">
                <div class="inline-flex align-items-center gap-2 px-1" *ngFor="let option of value">
                    <div>{{ option.disciplinaMySQL.sigla }} - {{ option.ano }}/{{ option.semestre }}</div>
                </div>
                <div *ngIf="!value || value.length === 0">Select Countries</div>
            </ng-template>
            <ng-template let-sqlAloc pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div>{{ sqlAloc.disciplinaMySQL.sigla }} - {{ sqlAloc.ano }}/{{ sqlAloc.semestre }}</div>
                </div>
            </ng-template>
            <ng-template let-sqlAloc pTemplate="footer">
                <div class="py-2 px-3">
                    <b>
                        {{ sqlAloc ? sqlAloc.length : 0 }}
                    </b>
                    itens{{ (sqlAloc ? sqlAloc.length : 0) > 1 ? 's' : '' }} selecionados.
                </div>
            </ng-template>
          </p-multiSelect>
          <label for="float-label">Selecione as alocações para migração</label>
      </p-floatLabel>
      </div>
    </div>

    <div class="cardLog" *ngIf="dataMysqlAlocacoes.length <= 0">
      <h3>Não há alocações registradas.</h3>
    </div>

    <div class="divBotao">
      <!-- <button type="button" class="botaoM" (click)="saveMigrationMysql()" pButton>Enviar</button> -->
      <button type="button" (click)="saveMigrationMysql()" pButton>Enviar</button>
    </div>
  </p-dialog>
</div>

<div class="card">
  <p-messages [(value)]="messages" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"
    [enableService]="false"></p-messages>
</div>
