<div class="caixa">
    <h1>Alocações</h1>

    <div class="opcao">
        <a (click)="showDialog()" class="p-button botaoC">Cadastrar +</a>
        
        <div class="pesq">
            <p-overlayPanel #op>
                <div style="display: flex; flex-direction: column; align-items: center; gap: .5rem;">
                    <p-dropdown [options]="filterOptions" [(ngModel)]="selectedFilter" optionLabel="nome" [showClear]="true" (ngModelChange)="updateMask()" placeholder="Selecione um filtro"></p-dropdown>
                    <p-button label="Limpar filtro" severity="warning" (click)="limparFilter()"></p-button>
                </div>
            </p-overlayPanel>
            <p-inputGroup>
                <button type="button" pButton (click)="op.toggle($event)" icon="pi pi-filter-fill"></button>
                <input #searchInput type="text" pInputText [placeholder]="txtFilter" (keydown)="onKeyDown($event, searchInput.value)" />
                <button type="button" pButton icon="pi pi-search" (click)="filterField(searchInput.value)"></button>
            </p-inputGroup>
        </div>
    </div>

    <div class="eqTable">
        <p-table
            #dt1
            [value]="alocacoesData"
            styleClass="p-datatable-striped"
            [tableStyle]="{'min-width': '50rem'}"
            [paginator]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} registros"
            [rowsPerPageOptions]="[10, 20, 40]"
        >
            <ng-template pTemplate="header">
                <tr class="tbHeader">
                    <th>Disciplina</th>
                    <th>Data da aula</th>
                    <th>Professor</th>
                    <!-- <th></th> -->
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-alocacao>
                <tr class="tbBody">
                    <td>{{alocacao?.disciplina.nome}}</td>
                    <td>{{alocacao?.dataAula | date: 'dd/MM/yyyy'}}</td>
                    <td>{{alocacao?.professor.nome}}</td>
                    <!-- <td></td> -->
                    <td>
                        <button type="button" class="botaoInfo" (click)="showInfoDialog(alocacao)" pButton>Info</button>
                        <button type="button" class="botaoEdit" (click)="showEditDialog(alocacao, formatarDatas(alocacao?.dataAula))" pButton>Editar</button>
                        <p-toast></p-toast>
                        <p-confirmPopup></p-confirmPopup>
                        <button type="button" class="botaoDele" (click)="confirm2($event, alocacao?.id)" severity="danger" pButton>Deletar</button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="3">Não há alocações cadastradas.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    
    <p-scrollTop></p-scrollTop>
</div>


<div class="card flex justify-content-center">
    <p-dialog class="pHeader" [header]=ehTitulo [(visible)]="visible" [modal]="true" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <form id="meuFormulario" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="divInput">
                <span class="p-float-label">
                    <p-dropdown #dropdownDisc appendTo="body" [options]="disciplinasArray" optionLabel="nome" [filter]="true" filterBy="nome" [showClear]="true" placeholder="Selecione uma disciplina" inputId="discEvent" class="form-control" formControlName="disciplina">
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption?.nome }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-disciplinaData pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ disciplinaData.nome }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <label for="discEvent">Disciplina</label>
                </span>
            </div>
            <div class="divInput labelFlex">
                <label for="horinIni">Hora de início</label>
                <input pInputText type="time" id="horinIni" class="form-control" formControlName="horaInicio">
            </div>
            <div class="divInput labelFlex">
                <label for="horinFim">Hora final</label>
                <input pInputText type="time" id="horinFim" class="form-control" formControlName="horaFinal">

                <div *ngIf="form.get('horaFinal')?.invalid && form.get('horaFinal')?.touched" class="validation-error">
                    <p>Hora final deve ser maior que a hora de início</p>
                </div>
            </div>
            <div class="divInput">
                <span class="p-float-label">
                    <p-dropdown #dropdownPeriodo appendTo="body" [options]="periodosArray" placeholder="Selecione um período" inputId="perdAloc" class="form-control" formControlName="periodo">
                        <ng-template let-periodoData pTemplate="selectedItem">
                            <div>{{ periodoData.dataInicio | date: 'dd/MM/yyyy' }}</div>
                          </ng-template>
                          <ng-template let-periodoData pTemplate="item">
                            <div class="flex align-items-center gap-2">
                              <div>{{ periodoData.dataInicio | date: 'dd/MM/yyyy' }} - {{ periodoData.dataFim | date: 'dd/MM/yyyy' }}</div>
                            </div>
                          </ng-template>
                    </p-dropdown>
                    <label for="perdAloc">Período</label>
                </span>
            </div>
            <div class="divInput">
                <span class="p-float-label">
                    <p-calendar dateFormat="dd/mm/yy" id="fimPer" class="form-control" formControlName="dataAula" (onSelect)="onDateIniSelect()" ></p-calendar>
                    <label for="fimPer">Data da aula</label>
                </span>
                <div *ngIf="form.get('dataAula')?.invalid && form.get('dataAula')?.touched" class="validation-error">
                    <p>A data do início de aula deve ser menor ou igual que a data final.</p>
                </div>
            </div>
            <div class="divInput pSwtich">
                <p-inputSwitch #switch [disabled]="disableSwit" [(ngModel)]="valor" [ngModelOptions]="{standalone: true}" id="checkRepl" (onChange)="handleChange()"></p-inputSwitch>
                <label for="checkRepl">Replicar dias</label>
            </div>
            <div class="divInput">
                <span class="p-float-label">
                    <p-inputNumber inputId="integeronly" id="numAloc" class="form-control" formControlName="numAulas" [min]="1" ></p-inputNumber>
                    <label for="numAloc">Número de Aulas</label>
                </span>
            </div>
            <div class="divInput">
                <span class="p-float-label">
                    <input pInputText maxlength="10" id="turmaAloc" class="form-control" formControlName="turma" />
                    <label for="turmaAloc">Turma</label>
                </span>
            </div>
            <div class="divInput">
                <span class="p-float-label">
                    <p-dropdown #dropdownLocal appendTo="body" [options]="locaisArray" optionLabel="nome" [filter]="true" filterBy="nome" [showClear]="true" placeholder="Selecione um local" inputId="localAloc" class="form-control" formControlName="local">
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption?.nome }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-localData pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ localData.nome }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <label for="localAloc">Local</label>
                </span>
            </div>
            <div class="divInput">
                <span class="p-float-label">
                    <p-dropdown #dropdownProf appendTo="body" [options]="professoresArray" optionLabel="nome" [filter]="true" filterBy="nome" [showClear]="true" placeholder="Selecione um professor" inputId="profAloc" class="form-control" formControlName="professor">
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption?.nome }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-professorData pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ professorData.nome }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <label for="localEvent">Professor</label>
                </span>
            </div>
            <div class="divInput">
                <span class="p-float-label" formArrayName="alunos">
                    <p-multiSelect #multiselect appendTo="body" inputId="alunoAloc" display="chip" [(ngModel)]="selectedAlunos" [ngModelOptions]="{standalone: true}" [options]="alunosArray" optionLabel="nome" (onChange)="onAlunosChange($event)" ></p-multiSelect>
                    <label for="alunoAloc">Selecione os alunos</label>
                </span>
            </div>
            <div class="divBotao">
                <button type="submit" class="botaoSalva" *ngIf="cadastrar" pButton>Salvar</button>
                <button type="button" class="botaoCancela" (click)="hideDialog()" pButton>Cancelar</button>
            </div>
        </form>
<!-- <div style="margin-top:20px;margin-left: 4em; width: 600px;" form="form">
    <div style="background-color: tomato;">
        Detalhes do form
    </div>
    <pre style="background-color: tan;">
        Form válido: {{ form.valid }}
    </pre>
    <pre style="background-color: tan;">
        Form inválido: {{ !form.valid }}
    </pre>
    <pre style="background-color: tan;">
        Valores: <br> {{ form.value | json }}
    </pre>
</div> -->
    </p-dialog>
</div>

<div class="card flex justify-content-center">
    <p-dialog header="Replicar dias da Alocação" [(visible)]="visibleExtra" [breakpoints]="{ '960px': '75vw' }" [style]="{width: '50vw', 'z-index': '1102'}">
        <div id="meuFormulario">
            <div class="divInput">
                <span class="p-float-label">
                    <p-calendar #calendarExtra appendTo="body" dateFormat="dd/mm/yy" [readonlyInput]="true" id="fimData" [(ngModel)]="dataFim" [ngModelOptions]="{standalone: true}" (onSelect)="validarDatas()" #calendar="ngModel" ></p-calendar>
                    <label for="fimData">Data Final</label>
                </span>
            </div>
            <div class="divInput">
                <span class="p-float-label">
                    <p-dropdown #dropdownExtra appendTo="body" [options]="opcaoSemana" [(ngModel)]="selectedSemana" placeholder="Selecione um dia da semana" optionLabel="nome" inputId="float-week" (onChange)="onDropdownChange()"></p-dropdown>
                    <label for="float-week">Selecione um dia da semana</label>
                </span>
            </div>
            <div class="divInput">
                <span class="p-float-label">
                    <p-calendar #calendario [disabled]="disableDrop" [(ngModel)]="diasIntervalo" appendTo="body" selectionMode="multiple" dateFormat="dd/mm/yy" [readonlyInput]="true" id="itvData" class="form-control" ></p-calendar>
                    <label for="itvData">Intervalo de dias</label>
                </span>
            </div>
            <div class="divBotao replica">
                <button type="button" class="botaoSalva" (click)="onClickHide()" pButton>Salvar</button>
            </div>
        </div>
    </p-dialog>
</div>

<div class="card flex justify-content-center">
    <p-dialog class="pHeader" [header]=ehTitulo [(visible)]="visibleEdit" [modal]="true" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <form id="meuFormulario" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="divInput">
                <span class="p-float-label">
                    <p-dropdown #dropdownDiscEdit appendTo="body" [options]="disciplinasArray" optionLabel="nome" [filter]="true" filterBy="nome" [showClear]="true" placeholder="Selecione uma disciplina" inputId="discEvent" class="form-control" formControlName="disciplina">
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption?.nome }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-disciplinaData pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ disciplinaData.nome }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <label for="discEvent">Disciplina</label>
                </span>
            </div>
            <div class="divInput labelFlex">
                <label for="horinIni">Hora de início</label>
                <input pInputText type="time" id="horinIni" class="form-control" formControlName="horaInicio">
            </div>
            <div class="divInput labelFlex">
                <label for="horinFim">Hora final</label>
                <input pInputText type="time" id="horinFim" class="form-control" formControlName="horaFinal">

                <div *ngIf="form.get('horaFinal')?.invalid && form.get('horaFinal')?.touched" class="validation-error">
                    <p>Hora final deve ser maior que a hora de início</p>
                </div>
            </div>
            <div class="divInput">
                <span class="p-float-label">
                    <p-dropdown #dropdownPeriodoEdit appendTo="body" [options]="periodosArray" placeholder="Selecione um período" inputId="perdEvent" class="form-control" formControlName="periodo">
                        <ng-template let-periodoData pTemplate="selectedItem">
                            <div>{{ periodoData.dataInicio | date: 'dd/MM/yyyy' }}</div>
                          </ng-template>
                          <ng-template let-periodoData pTemplate="item">
                            <div class="flex align-items-center gap-2">
                              <div>{{ periodoData.dataInicio | date: 'dd/MM/yyyy' }} - {{ periodoData.dataFim | date: 'dd/MM/yyyy' }}</div>
                            </div>
                          </ng-template>
                    </p-dropdown>
                    <label for="perdEvent">Período</label>
                </span>
            </div>
            <div class="divInput">
                <span class="p-float-label">
                    <p-calendar #calendarEdit appendTo="body" dateFormat="dd/mm/yy" id="fimPer" [(ngModel)]="dtAulaCalendar" [ngModelOptions]="{standalone: true}" (ngModelChange)="calcularDiaSemana()" ></p-calendar>
                    <label for="fimPer">Data da aula</label>
                </span>
            </div>
            <div class="divInput">
                <span class="p-float-label">
                    <p-dropdown #dropdownSemanaEdit appendTo="body"  optionLabel="nome" [options]="opcaoSemana" placeholder="Selecione um dia da semana" inputId="semanaAloc" [disabled]="true">
                        <ng-template let-semana pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ semana.nome }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <label for="semanaAloc">Dia da Semana</label>
                </span>
            </div>
            <div class="divInput">
                <span class="p-float-label">
                    <p-inputNumber inputId="integeronly" id="numAloc" class="form-control" formControlName="numAulas" [min]="1" ></p-inputNumber>
                    <label for="numAloc">Número de Aulas</label>
                </span>
            </div>
            <div class="divInput">
                <span class="p-float-label">
                    <input pInputText maxlength="10" id="turmaAloc" class="form-control" formControlName="turma" />
                    <label for="turmaAloc">Turma</label>
                </span>
            </div>
            <div class="divInput">
                <span class="p-float-label">
                    <p-dropdown #dropdownLocalEdit appendTo="body" [options]="locaisArray" optionLabel="nome" [filter]="true" filterBy="nome" [showClear]="true" placeholder="Selecione um local" inputId="localAloc" class="form-control" formControlName="local">
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption?.nome }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-localData pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ localData.nome }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <label for="localAloc">Local</label>
                </span>
            </div>
            <div class="divInput">
                <span class="p-float-label">
                    <p-dropdown #dropdownProfEdit appendTo="body" [options]="professoresArray" optionLabel="nome" [filter]="true" filterBy="nome" [showClear]="true" placeholder="Selecione um professor" inputId="profAloc" class="form-control" formControlName="professor">
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption?.nome }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-professorData pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ professorData.nome }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <label for="localEvent">Professor</label>
                </span>
            </div>
            <div class="divInput">
                <span class="p-float-label" formArrayName="alunos">
                    <p-multiSelect #multiselectEdit appendTo="body" inputId="alunoAloc" display="chip" [(ngModel)]="selectedAlunos" [ngModelOptions]="{standalone: true}" [options]="alunosArray" optionLabel="nome" (onChange)="onAlunosChange($event)" ></p-multiSelect>
                    <label for="alunoAloc">Selecione os alunos</label>
                </span>
            </div>
            <div class="divBotao">
                <button type="submit" class="botaoEdit" *ngIf="editar" pButton>Atualizar</button>
                <button type="button" class="botaoCancela" (click)="hideDialog()" pButton>Cancelar</button>
            </div>
        </form>
    </p-dialog>
</div>

<div class="card flex justify-content-center">
    <p-dialog header="Info da Alocação" [(visible)]="visibleInfo" [breakpoints]="{ '960px': '75vw' }" [style]="{width: '50vw', 'z-index': '1102'}">
        <div id="meuFormInfo">
            <div class="divInput">
                <b>Disciplina: </b> {{alocacaoInfo?.disciplina?.nome}}
            </div>
            <div class="divInput">
                <b>Professor: </b> {{alocacaoInfo?.professor?.nome}}
            </div>
            <div class="divInput flexContainer">
                <div>
                    <b>Hora de início: </b> {{ formatarHora(alocacaoInfo?.horaInicio) }}
                </div>
                <div class="lastDiv">
                    <b>Hora de fim: </b> {{ formatarHora(alocacaoInfo?.horaFinal) }}
                </div>
            </div>
            <div class="divInput dtAlocacao">
                <b>Período: </b> {{ alocacaoInfo?.periodo?.dataInicio | date: 'fullDate' : '' : 'pt-BR' }} - {{ alocacaoInfo?.periodo?.dataFim | date: 'fullDate' : '' : 'pt-BR' }}
            </div>
            <div class="divInput dtAlocacao flexContainer">
                <div>
                    <b>Dia de aula: </b> {{alocacaoInfo?.dataAula | date: 'fullDate' : '' : 'pt-BR'}}
                </div>
                <div class="lastDiv">
                    <b>Turma: </b> {{alocacaoInfo?.turma}}
                </div>
            </div>
            <div class="divInput flexContainer">
                <div>
                    <b>Local: </b> {{alocacaoInfo?.local?.nome }}
                </div>
                <div class="lastDiv">
                    <b>Número de aulas: </b> {{alocacaoInfo?.numAulas}}
                </div>
            </div>
            <div class="divBotao replica">
                <button type="button" class="botaoInfo" (click)="visibleInfo = false" pButton>Ok</button>
            </div>
        </div>
    </p-dialog>
</div>

<div class="card">
    <p-messages [(value)]="messages" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" [enableService]="false"></p-messages>
</div>
