<div class="caixa">
    <h1>Períodos</h1>

    <div class="opcao">
        <a (click)="showDialog()" class="p-button botaoC">Cadastrar +</a>
        
        <div class="pesq">
            <p-overlayPanel #op>
                <div style="display: flex; flex-direction: column; align-items: center; gap: .5rem;">
                    <p-dropdown [options]="filterOptions" [(ngModel)]="selectedFilter" optionLabel="nome" [showClear]="true" (ngModelChange)="updateMask()" placeholder="Selecione um filtro"></p-dropdown>
                    <p-button label="Limpar filtro" severity="warning" (click)="limparFilter()"></p-button>
                </div>
            </p-overlayPanel>
            <p-inputGroup>
                <button type="button" pButton (click)="op.toggle($event)" icon="pi pi-filter-fill"></button>
                <input #searchInput type="text" pInputText [mask]="selectedFilter?.id === 1 ? '00/00/0000' : selectedFilter?.id === 2 ? '0000' : null" [placeholder]="txtFilter" (keydown)="onKeyDown($event, searchInput.value)" />
                <button type="button" pButton icon="pi pi-search" (click)="filterField(searchInput.value)"></button>
            </p-inputGroup>
        </div>
    </div>

    <div class="eqTable">
        <p-table
            #dt1
            [value]="periodosData"
            styleClass="p-datatable-striped"
            [tableStyle]="{'min-width': '50rem'}"
            [paginator]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} registros"
            [rowsPerPageOptions]="[10, 20, 40]"
        >
            <ng-template pTemplate="header">
                <tr class="tbHeader">
                    <th>Nome</th>
                    <th>Período</th>
                    <!-- <th></th> -->
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-periodo>
                <tr class="tbBody">
                    <!-- <td class="texto-limitado">{{periodo?.descricao }}</td> -->
                    <td>{{periodo?.nome }}</td>
                    <td>{{periodo?.dataInicio | date: 'dd/MM/yyyy'}} - {{periodo?.dataFim | date: 'dd/MM/yyyy'}}</td>
                    <!-- <td></td> -->
                    <td>
                        <button type="button" class="botaoInfo" (click)="showInfoDialog(periodo)" pButton>Info</button>
                        <button type="button" class="botaoEdit" (click)="showEditDialog(periodo)" pButton>Editar</button>
                        <p-toast></p-toast>
                        <p-confirmPopup></p-confirmPopup>
                        <button type="button" class="botaoDele" (click)="confirm2($event, periodo?.id)" severity="danger" pButton>Deletar</button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="3">Não há períodos cadastrados.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    
    <p-scrollTop></p-scrollTop>
</div>


<div class="card flex justify-content-center">
    <p-dialog class="pHeader" [header]=ehTitulo [(visible)]="visible" [modal]="true" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <form id="meuFormulario" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="divInput">
                <span class="p-float-label">
                    <input pInputText id="nomeEquip" class="form-control" formControlName="nome" maxlength="150" />
                    <label for="nomeEquip">Nome do período</label>
                </span>
            </div>
            <div class="divInput">
                <span class="p-float-label">
                    <p-calendar appendTo="body" dateFormat="dd/mm/yy" id="inicioPer" class="form-control" formControlName="dataInicio" (onSelect)="onMinDate()" ></p-calendar>
                    <label for="inicioPer">Data de início</label>
                </span>
            </div>
            <div class="divInput">
                <span class="p-float-label">
                    <p-calendar appendTo="body" dateFormat="dd/mm/yy" id="fimPer" class="form-control" formControlName="dataFim" [minDate]="minDate" ></p-calendar>
                    <label for="fimPer">Data final</label>
                </span>
                <div *ngIf="form.get('dataFim')?.invalid && form.get('dataFim')?.touched" class="validation-error">
                    <p>A data final deve ser maior ou igual que a data de início.</p>
                </div>
            </div>
            <div class="divBotao">
                <button type="submit" class="botaoSalva" *ngIf="cadastrar" pButton>Salvar</button>
                <button type="submit" class="botaoEdit" *ngIf="editar" pButton>Atualizar</button>
                <button type="button" class="botaoCancela" (click)="hideDialog()" pButton>Cancelar</button>
            </div>
        </form>
    </p-dialog>
</div>

<div class="card flex justify-content-center">
    <p-dialog header="Info do Período" [(visible)]="visibleInfo" [breakpoints]="{ '960px': '75vw' }" [style]="{width: '50vw', 'z-index': '1102'}">
        <div id="meuFormInfo">
            <div class="divInput" style="white-space: pre-line;">
                <b>Nome:</b> {{periodoInfo?.nome}}
            </div>
            <div class="divInput dtPeriodo">
                <b>Data de início:</b> {{periodoInfo?.dataInicio | date: 'fullDate' : '' : 'pt-BR'}}
            </div>
            <div class="divInput dtPeriodo">
                <b>Data de fim:</b> {{periodoInfo?.dataFim | date: 'fullDate' : '' : 'pt-BR'}}
            </div>
            <div class="divBotao">
                <button type="button" class="botaoInfo" (click)="visibleInfo = false" pButton>Ok</button>
            </div>
        </div>
    </p-dialog>
</div>

<div class="card">
    <p-messages [(value)]="messages" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" [enableService]="false"></p-messages>
</div>