<div class="caixa">
    <h1>Disciplinas</h1>

    <div class="opcao">
        <a (click)="showDialog()" class="p-button botaoC">Cadastrar +</a>
        
        <div class="pesq">
            <p-overlayPanel #op>
                <div style="display: flex; flex-direction: column; align-items: center; gap: .5rem;">
                    <p-dropdown [options]="filterOptions" [(ngModel)]="selectedFilter" optionLabel="nome" [showClear]="true" placeholder="Selecione um filtro"></p-dropdown>
                    <p-button label="Limpar filtro" severity="warning" (click)="limparFilter()"></p-button>
                </div>
            </p-overlayPanel>
            <p-inputGroup>
                <button type="button" pButton (click)="op.toggle($event)" icon="pi pi-filter-fill"></button>
                <input #searchInput type="text" pInputText placeholder="Pesquisar disciplina" (keydown)="onKeyDown($event, searchInput.value)" />
                <button type="button" pButton icon="pi pi-search" (click)="filterField(searchInput.value)"></button>
            </p-inputGroup>
        </div>
    </div>

    <div class="eqTable">
        <p-table
            #dt1
            [value]="disciplinasData"
            styleClass="p-datatable-striped"
            [tableStyle]="{'min-width': '50rem'}"
        >
            <ng-template pTemplate="header">
                <tr class="tbHeader">
                    <th>Nome</th>
                    <th>Sigla</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-disciplina>
                <tr class="tbBody">
                    <td>{{disciplina?.nome}}</td>
                    <td>{{disciplina?.sigla}}</td>
                    <td>
                        <button type="button" class="botaoEdit" (click)="showEditDialog(disciplina)" pButton>Editar</button>
                        <p-toast></p-toast>
                        <p-confirmPopup></p-confirmPopup>
                        <button type="button" class="botaoDele" (click)="confirm2($event, disciplina?.id)" severity="danger" pButton>Deletar</button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="3">Não há disciplinas cadastradas.</td>
                </tr>
            </ng-template>
        </p-table>
        
        <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="firstDiscp"
        [rows]="rowsDiscp"
        [totalRecords]="sizeDiscp"
        [rowsPerPageOptions]="[10, 20, 40, 60]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} registros" />
    </div>
    
    <p-scrollTop></p-scrollTop>
</div>


<div class="card flex justify-content-center">
    <p-dialog class="pHeader" [header]=ehTitulo [(visible)]="visible" [modal]="true" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <form id="meuFormulario" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="divInput">
                <span class="p-float-label">
                    <input pInputText id="nomeEquip" class="form-control" formControlName="nome" maxlength="150" />
                    <label for="nomeEquip">Nome da disciplina</label>
                </span>
            </div>
            <div class="divInput">
                <span class="p-float-label">
                    <input pInputText id="siglaDisc" class="form-control" formControlName="sigla" maxlength="50" />
                    <label for="siglaDisc">Sigla do nome</label>
                </span>
            </div>
            <div class="divBotao">
                <button type="submit" class="botaoSalva" *ngIf="cadastrar" pButton>Salvar</button>
                <button type="submit" class="botaoEdit" *ngIf="editar" pButton>Atualizar</button>
                <button type="button" class="botaoCancela" (click)="hideDialog()" pButton>Cancelar</button>
            </div>
        </form>
    </p-dialog>
</div>

<div class="card">
    <p-messages [(value)]="messages" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" [enableService]="false"></p-messages>
</div>