<div class="caixa">
    <!-- <div class="background"></div> -->
    <div class="card">
        <p>Seja bem-vindo ao MHIFES! Aqui, onde seu horário individual está sempre à vista, seja para a semana ou para o horário mais próximo.</p>
        <div class="rdButton">
                <div class="flex align-items-center">
                    <p-radioButton name="horario" value="Hora Atual" [(ngModel)]="ingredient" inputId="ingredient1"></p-radioButton>
                    <label for="ingredient1" class="ml-2">Hora Atual</label>
                </div>
        
                <div class="flex align-items-center">
                    <p-radioButton name="horario" value="Semana" [(ngModel)]="ingredient" inputId="ingredient2"></p-radioButton>
                    <label for="ingredient2" class="ml-2">Semana</label>
                </div>
        </div>
            
        <div class="eqTable">
            <p-table [value]="horarioIndividualData" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50vw'}" >
                <ng-template pTemplate="header" let-columns>
                    <tr class="tbHeader">
                        <th>Horário</th>
                        <th>Seg</th>
                        <th>Ter</th>
                        <th>Qua</th>
                        <th>Qui</th>
                        <th>Sex</th>
                        <th>Sáb</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-hora>
                    <tr class="tbBody">
                        <td>{{hora.hora}}</td>
                        <td>{{hora.seg}}</td>
                        <td>{{hora.ter}}</td>
                        <td>{{hora.qua}}</td>
                        <td>{{hora.qui}}</td>
                        <td>{{hora.sex}}</td>
                        <td>{{hora.sab}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>