.caixa{
    .card{
        width: 90%;
        // position: relative;
        // z-index: 1; 
    }

    .content-home{
        h1{
            text-align: center;
            margin-bottom: 4rem;
        }
        margin: 0 2rem;
        letter-spacing: .1rem;
        font-size: 1.1rem;
        ul{
            margin-top: 1rem;
            margin-bottom: 2rem;
            list-style: none;
            li{
                margin-top: 1rem;
                a{
                    color: black;
                    text-decoration: none;
                }
                a:hover{
                    color: #256CF0;
                    text-decoration: underline;
                }
            }
        }
        b, h4{
            color: #00208F;
        }
        p{
            letter-spacing: .1rem;
        }
        .gp-home{
            display: flex;
            justify-content: space-between;
            // div{
            //     margin: 0 10rem;
            // }
            .grupo-home2 {
                align-self: center;
                img{
                    width: 5rem;
                    height: 5rem;
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }

    .rdButton{
        display: flex;
        margin: 3rem 3rem 0;
    }

    .eqTable{
        width: 90%;
        margin: 4rem auto;
        border: .1rem solid #B1CAFA;
        
        .tbHeader{
            border-radius: .5rem 0;
            
            th{
                background-color: #256CF0 !important;
                color: white;
                font-weight: 600;
                letter-spacing: .1rem;
                text-align: center;
                text-transform: uppercase;
            }
        }
        
        .tbBody{
            td:first-child {
                background-color: #256CF0 !important;
                color: white;
                font-weight: 600;
                letter-spacing: .1rem;
                text-align: center;
                text-transform: uppercase;
                width: .05%;
            }
            td{
                text-align: center;
                border-bottom: .1rem solid #B1CAFA;
                border-left: .1rem solid #B1CAFA;
                height: 5rem;
                width: 1%;
            }
  
        }
        .discSigla{
            li{
                list-style: none;
            }
        }
    }
}
:host ::ng-deep{
    p-radiobutton.p-element{
        margin: 0 1rem;
    }
    .p-datatable>.p-datatable-wrapper {
        overflow-x: auto;
    }
    .p-datatable-table {
        border-spacing: 0px;
        width: 100.25rem;
    }
}

@media screen and (min-width: 686px) {
    .card{
        margin: 3rem auto 12rem;
    }
}

@media screen and (max-width: 685px) {
    .card{
        margin: 3rem auto 12rem;
        
        .eqTable{
            overflow-x: scroll;
        }
    }
}