<div class="caixa">
    <!-- <div class="background"></div> -->
    
    <div class="card" *ngIf="qualPapel() === 'ADMIN'">
        <div class="content-home">
            <h1>Seja bem-vindo ao MHIFES!</h1>
            <p>O MHIFES foi projetado para facilitar o gerenciamento de pessoas e recursos da instituição de ensino. Como administrador, você terá acesso a uma gama completa de ferramentas para:</p>

            <ul>
                <li><b>Gerenciar alunos e professores:</b> Cadastrar, editar e excluir informações, acompanhar histórico escolar, gerar relatórios e etc.</li>
                <li><b>Gerenciar disciplinas e horários:</b> Criar e editar disciplinas, definir turmas e horários, alocar professores e alunos, visualizar conflitos de horários e etc.</li>
                <li><b>Gerenciar coordenadorias:</b> Criar e editar coordenadorias e definir coordenadores.</li>
                <li><b>E muito mais:</b> Definir conta de acesso à usuários, gerenciar calendários e eventos, entre outras funcionalidades.</li>
            </ul>

            <p>Clique numa das opções abaixo ou no menu de navegação para começar.</p>
            
            <div class="gp-home">
                <div class="grupo-home">
                    <div>
                        <h4>Gerenciar Pessoas</h4>
                        <ul>
                            <li><a href="alunos">Alunos</a></li>
                            <li><a href="professores">Professores</a></li>
                            <li><a href="coordenadorias">Coordenadorias</a></li>
                            <li><a href="registrar">Usuários</a></li>
                        </ul>
                    </div>
                
                    <div>
                        <h4>Gerenciar Recursos</h4>
                        <ul>
                            <li><a href="equipamentos">Equipamentos</a></li>
                            <li><a href="disciplinas">Disciplinas</a></li>
                            <li><a href="periodos">Períodos</a></li>
                            <li><a href="horarios">Horários</a></li>
                            <li><a href="locais">Locais</a></li>
                            <li><a href="eventos">Eventos</a></li>
                            <li><a href="alocacoes">Alocações</a></li>
                        </ul>
                    </div>
                </div>
                <div class="grupo-home2">
                    <!-- Sem ideias para este vazio por enquanto
                    <br>
                    <img src="assets/img/puzzle.gif" alt=""> -->
                </div>
            </div>
        </div>
    </div>
    
    <!-- <div class="card"> -->
    <div class="card" *ngIf="qualPapel() === 'USER'">
        <div class="content-home">
            <h1>Seja bem-vindo ao MHIFES!</h1>
            <p>Aqui, onde seu horário individual está sempre à vista, seja para a semana ou para a hora mais próxima.</p>
        </div>
    
        <div>
            <div class="rdButton">
                <div class="flex align-items-center" *ngFor="let horario of filterOptions" class="field-checkbox">
                    <p-radioButton  [inputId]="horario.id.toString()" [value]="horario" [(ngModel)]="selectedFilter" name="horario" inputId="ingredient1"></p-radioButton>
                    <label [for]="horario.id" class="ml-2">{{ horario.nome }}</label>
                </div>
            </div>
            
            <div class="eqTable" *ngIf="selectedFilter.id === 0">
                <p-table [value]="alocacaoMaisProxima ? [alocacaoMaisProxima] : []" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50vw'}" >
                    <ng-template pTemplate="header" let-columns>
                        <tr class="tbHeader">
                            <th></th>
                            <th>{{ formatarHora(alocacaoMaisProxima?.horario?.horaInicio) }} - {{ formatarHora(alocacaoMaisProxima?.horario?.horaFim) }}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-proximo>
                        <tr class="tbBody">
                            <td class="larguraFixa">{{ semanaExibido }}</td>
                            <td>{{ alocacaoMaisProxima?.periodoDisciplina?.disciplina?.nome }} <br> {{ alocacaoMaisProxima?.local?.nome }} <br> {{ alocacaoMaisProxima?.professor?.nome }} </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="3">Sem aulas agendadas nos próximos 30 minutos.</td>
                      </tr>
                    </ng-template>
                </p-table>
            </div>
            
            <div class="eqTable" *ngIf="selectedFilter.id === 1">
                <p-table [value]="alocacoesAgrupadasSemFinalSemana" styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '50vw'}" >
                    <ng-template pTemplate="header">
                        <tr class="tbHeader" *ngIf="!percorrerGrupoArray()">
                            <th></th>
                            <th colspan="6">Matutino</th>
                            <th colspan="6">Vespertino</th>
                            <th colspan="4">Noturno</th>
                        </tr>
                        <tr class="tbHeader" *ngIf="!percorrerGrupoArray()">
                            <th></th>
                            <th *ngFor="let col of columnsHorario">{{ formatarHora(col?.inicio) }} <br> {{ formatarHora(col?.fim) }}</th>
                        </tr>
                        <tr *ngIf="percorrerGrupoArray()">
                            <td></td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-grupo let-i="rowIndex">
                        <tr class="tbBody">
                            <td class="larguraFixa" *ngIf="!percorrerGrupoArray()">{{ diasDaSemanaSemFinal[i] }}</td>
                            <ng-container *ngIf="!percorrerGrupoArray()">
                                <ng-container *ngFor="let col of columnsHorario">
                                    <td>
                                        <ng-container *ngIf="encontrarColunaCorrespondente(col, grupo)">
                                            {{ encontrarColunaCorrespondente(col, grupo)?.periodoDisciplina?.disciplina?.sigla || '' }} <br> {{  encontrarColunaCorrespondente(col, grupo)?.local?.nome || '' }} <br> {{ encontrarColunaCorrespondente(col, grupo)?.professor?.sigla || '' }}
                                        </ng-container>
                                    </td>
                                </ng-container>
                            </ng-container>
                            <td colspan="3" *ngIf="mssVazio[i] != '' && percorrerGrupoArray()">{{ mssVazio[i] }}</td>
                            </tr>
                        </ng-template>
                    <ng-template pTemplate="emptymessage" *ngIf="percorrerGrupoArray()">
                      <tr>
                        <td colspan="3">Sem aulas agendadas para este período.</td>
                      </tr>
                    </ng-template>
                </p-table>
                <div class="discSigla" *ngIf="siglasAgrupadas.length > 0">
                    <ng-container>
                        <ul>
                            <li *ngFor="let sgl of siglasAgrupadas">
                                {{ sgl?.periodoDisciplina?.disciplina?.sigla }} - {{ sgl?.periodoDisciplina?.disciplina?.nome }} - {{ sgl?.professor?.nome }}
                            </li>
                        </ul>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>