<div class="caixa">
    <h1>Professores</h1>

    <div class="opcao">
        <div class="btn-opcao">
          <a (click)="showDialog()" class="p-button botaoC">Cadastrar +</a>
          <p-button label="Deletar" [raised]="true" severity="danger" badge="{{checkOptionsSelected.length}}" badgeClass="p-badge-danger" (onClick)="badgeOptionExclui($event)" />
          <p-button label="Gerar Código de Barras" [raised]="true" severity="info" badge="{{checkOptionsSelected.length}}" badgeClass="p-badge-info" (onClick)="badgeOptionGerarCodBarra()" />
      </div>
        
        <div class="pesq">
            <p-overlayPanel #op1>
                <div style="display: flex; flex-direction: column; align-items: center; gap: .5rem;">
                    <p-dropdown [options]="filterOptions" [(ngModel)]="selectedFilterProf" optionLabel="nome" [showClear]="true" placeholder="Selecione um filtro"></p-dropdown>
                    <p-button label="Limpar filtro" severity="warning" (click)="limparFilter()"></p-button>
                </div>
            </p-overlayPanel>
            <p-inputGroup>
                <button type="button" pButton (click)="op1.toggle($event)" icon="pi pi-filter-fill"></button>
                <input #searchInputProf type="text" pInputText placeholder="Pesquisar professor" (keydown)="onKeyDown($event, searchInputProf.value)" />
                <button type="button" pButton icon="pi pi-search" (click)="filterField(searchInputProf.value)"></button>
            </p-inputGroup>
        </div>
    </div>

    <div class="eqTable">
        <p-table
            #dt1
            [value]="professoresData"
            styleClass="p-datatable-striped"
            [tableStyle]="{'min-width': '50rem'}"
            [(selection)]="checkOptionsSelected" 
            dataKey="matricula" 
        >
            <ng-template pTemplate="header">
                <tr class="tbHeader">
                    <th><p-tableHeaderCheckbox /></th>
                    <th>Nome</th>
                    <th>Sigla</th>
                    <th>Matrícula</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-professor>
                <tr class="tbBody">
                    <td><p-tableCheckbox [value]="professor"/></td>
                    <td>{{professor?.nome}}</td>
                    <td>{{professor?.sigla}}</td>
                    <td>{{professor?.matricula}}</td>
                    <td>
                        <button type="button" class="botaoInfo" (click)="showInfoDialog(professor)" pButton>Info</button>
                        <button type="button" class="botaoEdit" (click)="showEditDialog(professor)" pButton>Editar</button>
                        <p-toast></p-toast>
                        <p-confirmPopup></p-confirmPopup>
                        <button type="button" class="botaoDele" (click)="confirm2($event, professor?.id)" severity="danger" pButton>Deletar</button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="3">Não há professores cadastrados.</td>
                </tr>
            </ng-template>
        </p-table>
        
        <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="firstProfsr"
        [rows]="rowsProfsr"
        [totalRecords]="sizeProfsr"
        [rowsPerPageOptions]="[10, 20, 40, 60]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} registros" />
    </div>
    
    <p-scrollTop></p-scrollTop>
</div>

<p-dialog header="Ler RFID" [(visible)]="rfidDialogVisible" [modal]="true" [closable]="false" [resizable]="false">
    <div class="rfid-dialog-content">
        <p>Por favor, aproxime o cartão do leitor.</p>
        <input pInputText #rfidInput (keydown.enter)="onRFIDEnter()" [(ngModel)]="rfidValue" autofocus />
        <button type="button" class="botaoCancelaRFID" (click)="closeRFIDDialog()" pButton>Cancelar</button>
    </div>
</p-dialog>

<div class="card flex justify-content-center">
    <p-dialog class="pHeader" [header]=ehTitulo [(visible)]="visible" [modal]="true" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <form id="meuFormulario" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="divInput pSwtich">
                <p-inputSwitch #switch id="coordProf" class="form-control" formControlName="ehCoordenador" (click)="patchForm()" ></p-inputSwitch>
                <label for="coordProf">É coordenador?</label>
            </div>
            <div class="divInput">
                <span class="p-float-label">
                    <input pInputText id="nomeProfessor" class="form-control" formControlName="nome" maxlength="150" />
                    <label for="nomeProfessor">Nome do professor</label>
                </span>
            </div>
            <div class="divInput">
                <span class="p-float-label">
                    <input pInputText id="siglaProfessor" class="form-control" formControlName="sigla" maxlength="50" />
                    <label for="siglaProfessor">Sigla do nome</label>
                </span>
            </div>
            <div class="divInput">
                <span class="p-float-label">
                    <input pInputText id="matricula" class="form-control" formControlName="matricula" maxlength="150" />
                    <label for="matricula">Matrícula</label>
                    <button type="button" class="lerRFIDButton" (click)="openRFIDDialog()">Ler RFID</button>
                </span>
            </div>          
            <div class="divInput" *ngIf="!switchCooda">
                <span class="p-float-label">
                    <p-dropdown #dropdown appendTo="body" [options]="coordenadoriasArray" optionLabel="nome" [filter]="true" filterBy="nome" [showClear]="true" placeholder="Selecione a coordenadoria" inputId="coodaProf" class="form-control" formControlName="coordenadoria">
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption?.nome }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-coordenadoriaData pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ coordenadoriaData.nome }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <label for="coodaProf">Coordenadoria</label>
                </span>
            </div>
            <div class="divBotao">
                <button type="submit" class="botaoSalva" *ngIf="cadastrar" pButton>Salvar</button>
                <button type="submit" class="botaoEdit" *ngIf="editar" pButton>Atualizar</button>
                <button type="button" class="botaoCancela" (click)="hideDialog()" pButton>Cancelar</button>
            </div>
        </form>
    </p-dialog>
</div>

<div class="card flex justify-content-center">
    <p-dialog header="Info do Professor" [(visible)]="visibleInfo" [breakpoints]="{ '960px': '75vw' }" [style]="{width: '50vw', 'z-index': '1102'}">
        <div id="meuFormInfo">
            <div class="divInput">
                <b>Nome do professor:</b> {{professorInfo?.nome}}
            </div>
            <div class="divInput">
                <b>Sigla do nome:</b> {{professorInfo?.sigla}}
            </div>
            <div class="divInput">
                <b>Matrícula:</b> {{professorInfo?.matricula}}
            </div>
            <div class="divInput" *ngIf="!professorInfo?.ehCoordenador">
                <b>Coordenadoria:</b> {{professorInfo?.coordenadoria?.nome}}
            </div>
            <div class="divBotao">
                <button type="button" class="botaoInfo" (click)="visibleInfo = false" pButton>Ok</button>
            </div>
        </div>
    </p-dialog>
</div>


<div class="card">
    <p-messages [(value)]="messages" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" [enableService]="false"></p-messages>
</div>
