<div class="caixa">
    <h1 *ngIf="professoresOrientador.length <= 0">Professores</h1>
    <h1 *ngIf="professoresOrientador.length > 0">Professores & Orientadores</h1>

    <div class="opcao">
        <a (click)="showDialog()" class="p-button botaoC">Cadastrar +</a>
        
        <div class="pesq">
            <!-- <p-inputGroup>
                <button type="button" pButton icon="pi pi-filter-slash" (click)="limparFilter()"></button>
                <input #searchInput type="text" pInputText placeholder="Pesquisar professor" (keydown)="onKeyDown($event, searchInput.value)" />
                <button type="button" pButton icon="pi pi-search" (click)="filterField(searchInput.value)"></button>
            </p-inputGroup> -->
        </div>
    </div>

    <div class="eqTable" *ngIf="professoresOrientador.length > 0">
        <p-table
            #dt2
            [value]="professoresOrientador"
            styleClass="p-datatable-striped"
            [tableStyle]="{'min-width': '50rem'}"
            [globalFilterFields]="['nome', 'matricula', 'curso']"
        >
            <ng-template pTemplate="caption">
                <h3>Orientadores</h3>
                <div class="pesq">
                    <p-overlayPanel #op>
                        <div style="display: flex; flex-direction: column; align-items: center; gap: .5rem;">
                            <p-dropdown [options]="filterOptions" [(ngModel)]="selectedFilterOri" optionLabel="nome" [showClear]="true" placeholder="Selecione um filtro"></p-dropdown>
                            <p-button label="Limpar filtro" severity="warning" (click)="limparFilter('o')"></p-button>
                        </div>
                    </p-overlayPanel>
                    <p-inputGroup>
                        <button type="button" pButton (click)="op.toggle($event)" icon="pi pi-filter-fill"></button>
                        <input #searchInputOri type="text" pInputText placeholder="Pesquisar orientador" (keydown)="onKeyDown('o',$event, searchInputOri.value)" />
                        <button type="button" pButton icon="pi pi-search" (click)="filterField('o',searchInputOri.value)"></button>
                    </p-inputGroup>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr class="tbHeader">
                    <th>Nome</th>
                    <th>Matrícula</th>
                    <!-- <th>Curso</th> -->
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-professor>
                <tr class="tbBody">
                    <td>{{professor?.nome}}</td>
                    <td>{{professor?.matricula}}</td>
                    <!-- <td>{{professor?.curso}}</td> -->
                    <td>
                        <button type="button" class="botaoInfo" (click)="showInfoDialog(professor)" pButton>Info</button>
                        <button type="button" class="botaoEdit" (click)="showEditDialog(professor)" pButton>Editar</button>
                        <p-toast></p-toast>
                        <p-confirmPopup></p-confirmPopup>
                        <button type="button" class="botaoDele" (click)="confirm2($event, professor?.id)" severity="danger" pButton>Deletar</button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="3">Não há professores orientadores cadastrados.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="eqTable">
        <p-table
            #dt1
            [value]="professoresNaoOrienta"
            styleClass="p-datatable-striped"
            [tableStyle]="{'min-width': '50rem'}"
            [paginator]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} registros"
            [rowsPerPageOptions]="[10, 20, 40]"
        >
            <ng-template pTemplate="caption">
                <h3>Professores</h3>
                <div class="pesq">
                    <p-overlayPanel #op1>
                        <div style="display: flex; flex-direction: column; align-items: center; gap: .5rem;">
                            <p-dropdown [options]="filterOptions" [(ngModel)]="selectedFilterProf" optionLabel="nome" [showClear]="true" placeholder="Selecione um filtro"></p-dropdown>
                            <p-button label="Limpar filtro" severity="warning" (click)="limparFilter('p')"></p-button>
                        </div>
                    </p-overlayPanel>
                    <p-inputGroup>
                        <button type="button" pButton (click)="op1.toggle($event)" icon="pi pi-filter-fill"></button>
                        <input #searchInputProf type="text" pInputText placeholder="Pesquisar professor" (keydown)="onKeyDown('p',$event, searchInputProf.value)" />
                        <button type="button" pButton icon="pi pi-search" (click)="filterField('p',searchInputProf.value)"></button>
                    </p-inputGroup>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr class="tbHeader">
                    <th>Nome</th>
                    <th>Matrícula</th>
                    <!-- <th>Curso</th> -->
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-professor>
                <tr class="tbBody">
                    <td>{{professor?.nome}}</td>
                    <td>{{professor?.matricula}}</td>
                    <!-- <td>{{professor?.curso}}</td> -->
                    <td>
                        <button type="button" class="botaoInfo" (click)="showInfoDialog(professor)" pButton>Info</button>
                        <button type="button" class="botaoEdit" (click)="showEditDialog(professor)" pButton>Editar</button>
                        <p-toast></p-toast>
                        <p-confirmPopup></p-confirmPopup>
                        <button type="button" class="botaoDele" (click)="confirm2($event, professor?.id)" severity="danger" pButton>Deletar</button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="3">Não há professores cadastrados.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    
    <p-scrollTop></p-scrollTop>
</div>

<div class="card flex justify-content-center">
    <p-dialog class="pHeader" [header]=ehTitulo [(visible)]="visible" [modal]="true" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <form id="meuFormulario" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="divInput pSwtich">
                <p-inputSwitch #switch id="coordProf" class="form-control" formControlName="ehCoordenador" (click)="switchCooda = !switchCooda" ></p-inputSwitch>
                <label for="coordProf">É coordenador?</label>
            </div>
            <div class="divInput">
                <span class="p-float-label">
                    <input pInputText id="nomeProfessor" class="form-control" formControlName="nome" />
                    <label for="nomeProfessor">Nome do professor</label>
                </span>
            </div>
            <div class="divInput">
                <span class="p-float-label">
                    <input pInputText id="matricula" class="form-control" formControlName="matricula" />
                    <label for="matricula">Matrícula</label>
                </span>
            </div>
            <div class="divInput" *ngIf="!switchCooda">
                <span class="p-float-label">
                    <input pInputText id="curso" class="form-control" formControlName="curso" />
                    <label for="curso">Curso</label>
                </span>
            </div>
            <div class="divInput" *ngIf="switchCooda">
                <span class="p-float-label">
                    <p-dropdown #dropdown appendTo="body" [options]="coordenadoriasArray" optionLabel="nome" [filter]="true" filterBy="nome" [showClear]="true" placeholder="Selecione a coordenadoria" inputId="coodaProf" class="form-control" formControlName="coordenadoria">
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption?.nome }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-coordenadoriaData pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ coordenadoriaData.nome }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <label for="coodaProf">Coordenadoria</label>
                </span>
            </div>
            <div class="divBotao">
                <button type="submit" class="botaoSalva" *ngIf="cadastrar" pButton>Salvar</button>
                <button type="submit" class="botaoEdit" *ngIf="editar" pButton>Atualizar</button>
                <button type="button" class="botaoCancela" (click)="hideDialog()" pButton>Cancelar</button>
            </div>
        </form>
    </p-dialog>
</div>

<div class="card flex justify-content-center">
    <p-dialog header="Info do Professor" [(visible)]="visibleInfo" [breakpoints]="{ '960px': '75vw' }" [style]="{width: '50vw', 'z-index': '1102'}">
        <div id="meuFormInfo">
            <div class="divInput">
                <b>Nome do professor:</b> {{professorInfo?.nome}}
            </div>
            <div class="divInput">
                <b>Matrícula:</b> {{professorInfo?.matricula}}
            </div>
            <div class="divInput" style="white-space: pre-line;">
                <b>Curso:</b> {{professorInfo?.curso}}
            </div>
            <div class="divBotao">
                <button type="button" class="botaoInfo" (click)="visibleInfo = false" pButton>Ok</button>
            </div>
        </div>
    </p-dialog>
</div>


<div class="card">
    <p-messages [(value)]="messages" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" [enableService]="false"></p-messages>
</div>
