@mixin themeButton($back: #BFE4FF, $color: #256CF0) {
    background: $back;
    color: $color;
    border: none;
    box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.26);
}

.caixa{
    h1{
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        margin-top: 2rem;
    }

    .opcao{
        margin-top: 3rem;
        .botaoC{
            color: white;
            background-color: #00208F;
            text-decoration: none;
            letter-spacing: .1rem;
            font-weight: 600;
            text-transform: uppercase;
            border: .1rem solid #00208F;
            box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.26);
        }
        .botaoC:active{
            background-color: white;
            color: #00208F;
            box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.4);
        }

        .pesq{
            input{
                background-color: #BFE4FF;
                box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.26);
            }
            input:focus {
                outline: none;
                border: .1rem solid #4A82FD;
            }
            button{
                @include themeButton(#4A82FD, white);
                height: 2.875rem;
                box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.5);
            }
            button:active{
                box-shadow: none;
            }
        }
    }
    .cardLog{
        max-width: fit-content;
        margin: 2rem auto;
        overflow-x: auto;
    }
}


:host ::ng-deep {
    .p-messages {
        width: fit-content;
        position: fixed;
        top: 1.25rem;
        right: 1.25rem;
        z-index: 11000;
    }


    .p-accordion.p-component {
        width: max-content;
// min-width: 79.25rem;
    }
    .custom-header {
        display: flex;
        span{
            margin: 0 3vw;
            b{
                font-weight: lighter;
            }
            .update-log {
                background: #FFDD77;
                color: #846406;
                padding: .5rem;
                border-radius: .3rem;
            }
            .incluse-log {
                background: #BFE4FF;
                color: #256CF0;
                padding: .5rem;
                border-radius: .3rem;
            }
            .delete-log {
                background: #FF8381;
                color: #89041E;
                padding: .5rem;
                border-radius: .3rem;
            }
            .default-log {
                background: #A2FF7F;
                color: #1E8805;
                padding: .5rem;
                border-radius: .3rem;
            }
        }
    }
    .p-accordion-header-link {
        display: flex;
        flex-direction: row-reverse;
        align-items: stretch;
        justify-content: space-evenly;
        border-left: 5px solid red;
    }
    .p-accordion .p-accordion-content {
        border-left: 5px solid red;
        max-width: 61.80375rem;
    }
    .p-accordion p-accordiontab .p-accordion-tab {
        margin-bottom: 1rem;
    }
    
    // background: red;
    // padding: .5rem;
    // border-radius: .3rem;
}

@media screen and (min-width: 686px) {
    .caixa{
        margin: 0 6rem 12rem;
        .opcao{
            display: flex;
            justify-content: end;
            flex-wrap: nowrap;
        }
    }
    
    .cardLogLog{}
}

@media screen and (max-width: 685px) {
    .caixa{
        margin: 0 1rem 12rem;
        .opcao{
            display: flex;
            flex-direction: column;
            
            .botaoC{width: fit-content;}

            .pesq{
                margin-top: 2rem;
            }
        }
    }
    .cardLogLog{}
}