.card{
    // height: calc(100vh - 5rem);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        // height: calc(100vh + 5rem);
        height: 100vh;
        background-image: url("../../../assets/img/J4o.gif");
        opacity: .85;
    }

    #meuFormulario{
        height: fit-content;
        width: fit-content;
        margin: 0 auto;
        flex-direction: column;
        .formInput{
            margin: 1rem 0;
            
            input{
                background-color: #BFE4FF;
                border: none;
                box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.26);
            }
        }
        .validation-error{
            margin-top: -0.5rem;
            margin-bottom: -.4375em;
            p{
                color: #dc3545;
                margin-top: 1em;
                border-left: 3px solid #dc3545;
                padding-left: .2em;
                text-align: start;
                font-size: .8rem;
            }
        }
    }
}

:host ::ng-deep {
    p-card.p-element{
        position: relative;
        z-index: 1; 
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
    }
    .p-card-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .p-card-footer a{
        text-decoration: none;
        color: #256CF0;
        font-weight: 600;
        letter-spacing: .1rem;
        font-size: .85rem;
    }
    .p-card-footer .p-button{
        background-color: #BFE4FF;
        color: #256CF0;
        text-transform: uppercase;
        letter-spacing: .1rem;
        border: none;
        border-radius: 2rem;
        box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.26);
        margin-bottom: 1rem;
    }
    .p-card-footer .p-button:focus{
        border: .05rem solid #256CF0;
    }
    .p-card-footer .p-button:active{
        box-shadow: none;
    }
    input.p-inputtext.p-component.p-element.p-password-input, .p-dropdown{
        background-color: #BFE4FF;
        border: none;
        box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.26);
    }
    input.p-inputtext.p-component.p-element.p-password-input:focus, .p-dropdown:focus{
        border: .05rem solid #256CF0;
    }
    .p-input-icon{
        color: #256CF0;
    }.p-icon path {
        fill: #256CF0;
    }
    .p-card-header{
        color: white;
        letter-spacing: .1rem;
        text-align: center;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: .3rem .3rem 0 0;
        background-image: url("../../../assets/img/J4o.gif");
    }
    .p-messages {
        width: fit-content;
        position: fixed;
        top: 1.25rem;
        right: 1.25rem;
        z-index: 11000;
    }
    .p-message-warn {
        color: #8b7400;
    }
    .p-message-success {
        color: #016b06;
    }
    .p-message-info {
        color: #00028b;
    }
    .p-message-error {
      color: red;
    }
}

@media screen and (min-width: 961px) {
    #meuFormulario{
        .validation-error{
            min-width: 20vw;
            max-width: 20vw;
        }
        input{
            width: 22vw;
        }
    }
    :host ::ng-deep {
        p-card.p-element{
            width: 30vw;
        }
        input.p-inputtext.p-component.p-element.p-password-input, .p-dropdown{
            width: 22vw;
        }
    }
}

@media screen and (max-width: 960px) {
    #meuFormulario{
        .validation-error{
            min-width: 40vw;
            max-width: 40vw;
        }
        input{
            width: 42vw;
        }
    }
    :host ::ng-deep {
        p-card.p-element{
            width: 50vw;
        }
        input.p-inputtext.p-component.p-element.p-password-input, .p-dropdown{
            width: 42vw;
        }
    }
}