<div class="card">
    <div class="background"></div>
    <p-card>
        <ng-template pTemplate="header">
            <h2>Crie uma nova conta</h2>
        </ng-template>
        <form id="meuFormulario" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="formInput">
                <p-iconField iconPosition="left">
                    <p-inputIcon styleClass="pi pi-user" />
                    <input type="text" class="form-control" formControlName="login" placeholder="E-mail" pInputText />
                </p-iconField>
                <div *ngIf="form.get('login')?.invalid && errL" class="validation-error">
                    <p>{{ mssL }}</p>
                </div>
            </div>
            <div class="formInput">
                <p-iconField iconPosition="left">
                    <p-inputIcon styleClass="pi pi-id-card" />
                    <input type="text" class="form-control" formControlName="nome" placeholder="Nome" pInputText />
                </p-iconField>
                <div *ngIf="form.get('nome')?.invalid && errN" class="validation-error">
                    <p>{{ mssN }}</p>
                </div>
            </div>
        
            <div class="formInput">
                <p-password placeholder="Senha" class="form-control" formControlName="password" [toggleMask]="true"></p-password>
                <!-- <p-password placeholder="Role" class="form-control" formControlName="password" [toggleMask]="true" [minlength]="6" [maxLength]="15"></p-password> -->
                <div *ngIf="form.get('password')?.invalid && errP" class="validation-error">
                <!-- <div *ngIf="errS" class="validation-error"> -->
                    <p>{{ mssP }}</p>
                </div>
            </div>
            <div class="formInput">
                <p-dropdown appendTo="body" formControlName="role" [options]="papeisRole" optionLabel="papel" placeholder="Selecione o papel do usuário"></p-dropdown>

                <div *ngIf="form.get('role')?.invalid && errR" class="validation-error">
                    <p>{{ mssR }}</p>
                </div>
            </div>
        </form>

        <ng-template pTemplate="footer">
            <p-button type="submit" label="Cadastrar" (onClick)="onSubmit()"></p-button>
            <a href="login" rel="noopener noreferrer" class="font-bold">Já possui uma conta?</a>
        </ng-template>
    </p-card>
</div>

<div class="card-service">
    <p-messages [(value)]="messages" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" [enableService]="false"></p-messages>
</div>