<div class="caixa">
    <h1>Coordenadorias</h1>

    <div class="opcao">
        <a (click)="showDialog()" class="p-button botaoC">Cadastrar +</a>
        
        <div class="pesq">
            <p-inputGroup>
                <button type="button" pButton icon="pi pi-filter-slash" (click)="limparFilter()"></button>
                <input #searchInput type="text" pInputText placeholder="Pesquisar coordenadoria" (keydown)="onKeyDown($event, searchInput.value)" />
                <button type="button" pButton icon="pi pi-search" (click)="filterField(searchInput.value)"></button>
            </p-inputGroup>
        </div>
    </div>

    <div class="eqTable">
        <p-table
            #dt1
            [value]="coordenadoriasData"
            styleClass="p-datatable-striped"
            [tableStyle]="{'min-width': '50rem'}"
        >
            <ng-template pTemplate="header">
                <tr class="tbHeader">
                    <th>Nome</th>
                    <th>Coordenador</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-coordenadoria>
                <tr class="tbBody">
                    <td>{{coordenadoria?.nome}}</td>
                    <td>{{coordenadoria?.coordenador?.nome}}</td>
                    <td>
                        <button type="button" class="botaoEdit" (click)="showEditDialog(coordenadoria)" pButton>Editar</button>
                        <button type="button" class="botaoDele" (click)="confirm2($event, coordenadoria?.id)" severity="danger" pButton>Deletar</button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="3">Não há coordenadorias cadastradas.</td>
                </tr>
            </ng-template>
        </p-table>
        
        <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="firstCoor"
        [rows]="rowsCoor"
        [totalRecords]="sizeCoor"
        [rowsPerPageOptions]="[10, 20, 40, 60]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando do {first} ao {last} de {totalRecords} registros" />
    </div>
    
    <p-scrollTop></p-scrollTop>
</div>


<div class="card flex justify-content-center">
    <p-dialog class="pHeader" [header]=ehTitulo [(visible)]="visible" [modal]="true" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <form id="meuFormulario" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="divInput">
                <span class="p-float-label">
                    <input pInputText id="nomeEquip" class="form-control" formControlName="nome" maxlength="150" />
                    <label for="nomeEquip">Nome da coordenadoria</label>
                </span>
            </div>
            <div class="divInput">
                <span class="p-float-label">
                    <p-dropdown #dropdown appendTo="body" [options]="coordenadoresArray" [filter]="true" filterBy="nome" placeholder="Selecione o coordenador" inputId="coodaProf" class="form-control" formControlName="coordenador">
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption?.sigla }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-coordenador pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ coordenador?.sigla }} - {{ coordenador?.nome }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <label for="coodaProf">Coordenador</label>
                </span>
            </div>
            <div class="divBotao">
                <button type="submit" class="botaoSalva" *ngIf="cadastrar" pButton>Salvar</button>
                <button type="submit" class="botaoEdit" *ngIf="editar" pButton>Atualizar</button>
                <button type="button" class="botaoCancela" (click)="hideDialog()" pButton>Cancelar</button>
            </div>
        </form>
    </p-dialog>
</div>

<div class="card">
    <p-messages [(value)]="messages" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" [enableService]="false"></p-messages>
</div>