<div class="card">
    <div class="background"></div>
    <p-card>
        <ng-template pTemplate="header">
            <div *ngIf="isLogged() && userService.roleMatch(['ADMIN'])">
                <p>Ainda não tem conta?</p>
                <p-button label="Cadastre-se" (click)="navigateToPage()"></p-button>
            </div>
            <h2>Bem vindo ao <b>MHIFES</b></h2>
        </ng-template>
        
        <form id="meuFormulario" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="formInput">
                <p-iconField iconPosition="left">
                    <p-inputIcon styleClass="pi pi-user" />
                    <input type="text" class="form-control" formControlName="login" placeholder="Matrícula" pInputText (keydown)="onKeyDown($event)" />
                </p-iconField>
                <div *ngIf="form.get('login')?.invalid && errM" class="validation-error">
                    <p>{{ mssM }}</p>
                </div>
            </div>
                
            <div class="formInput">
                <p-password class="form-control" formControlName="password" placeholder="Senha" [toggleMask]="true" (keydown)="onKeyDown($event)"></p-password>
                <div *ngIf="form.get('password')?.invalid && errS" class="validation-error">
                        <p>{{ mssS }}</p>
                    </div>
            </div>
        </form>

        <ng-template pTemplate="footer">
            <p-button type="submit" label="Login" (onClick)="onSubmit()"></p-button>
        </ng-template>
    </p-card>
</div>

<div class="card-service">
    <p-messages [(value)]="messages" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" [enableService]="false"></p-messages>
</div>