.card{
    // height: 5rem;
    // width: 100%;
    // background-color: #00208F;
    // color: white;
    // display: flex;
    // align-items: center;
    
    .menu{
        // margin-left: 1rem;
        // background-color: #00208F;
        text-transform: uppercase;
    }
}

:host ::ng-deep {
    .p-menubar{
        margin: -.1rem;
        background-color: #00208F;
        border-radius: 0;
    }
    .p-menubar .p-menubar-button{
        background-color: #BFE4FF;
        border-radius: 0;
    }
    .p-icon path {
        fill: #256CF0;
    }
    .p-menubar-root-list li:active {
        background: transparent;
    }
    .p-menubar.p-menubar-mobile-active .p-menubar-root-list {
        background-color: #00208F;
    }
    .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text{
        color: white;
    }
    .p-menuitem-content:hover{
        background-color: #256CF0;
    }

    .p-submenu-list .p-menuitem-link{
        background-color: white;
    }
    .p-menubar .p-menubar-root-list > .p-menuitem:not(.p-highlight):not(.p-disabled):not(:first-child) > .p-menuitem-content:hover{
        background-color: #256CF0;
    }
    .p-menubar .p-menubar-root-list > .p-menuitem:not(.p-highlight):not(.p-disabled):first-child > .p-menuitem-content:hover{
        background-color: transparent;
    }
    // .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content:focus{
    //     background-color: rebeccapurple;
    // }
}


@media screen and (max-width: 960px) {
    :host ::ng-deep {
        .p-menubar{
            flex-flow: row-reverse;
        }
        .p-menubar-start {
            order: 1;
        }
        ul#pn_id_1 {
            overflow-x: hidden;
        }
        a.p-menubar-button {
            order: 1;
            margin: 0 1rem;
        }
        .logo {
            order: 2;
        }
    }
}